.desktop-12 .medicast {
  position: relative;
  overflow-wrap: break-word;
  font-family: 'Kanit';
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 2.2px;
  color: #000000;
}
.desktop-12 .container-3 {
  position: absolute;
  left: 17.6px;
  top: 0px;
  width: 44.3px;
  height: 36.9px;
}
.desktop-12 .logo {
  position: relative;
  display: flex;
  padding-top: 32px;
  box-sizing: border-box;
}
.desktop-12 .donate {
  overflow-wrap: break-word;
  font-family: 'Kadwa';
  font-weight: 400;
  font-size: 18px;
  color: #000000;
}
.desktop-12 .frame-3 {
  margin: 13px 0 7px 0;
  display: flex;
  box-sizing: border-box;
}
.desktop-12 .home {
  margin: 13px 0 7px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Kadwa';
  font-weight: 400;
  font-size: 18px;
  color: #000000;
}
.desktop-12 .services {
  margin: 13px 0 7px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Kadwa';
  font-weight: 400;
  font-size: 18px;
  color: #000000;
}
.desktop-12 .product {
  margin: 13px 0 7px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Kadwa';
  font-weight: 400;
  font-size: 18px;
  color: #000000;
}
.desktop-12 .about-us {
  margin: 13px 0 7px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Kadwa';
  font-weight: 400;
  font-size: 18px;
  color: #000000;
}
.desktop-12 .contact-us {
  margin: 13px 0 7px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Kadwa';
  font-weight: 400;
  font-size: 18px;
  color: #000000;
}
.desktop-12 .container-4 {
  background: #FFF1F1;
  position: relative;
  margin-bottom: 68px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px 0 0 19px;
  width: 1440px;
  box-sizing: border-box;
}
.desktop-12 .images-3-removebg-preview-1 {
  background: url('assets/images/images_3_removebg_preview_1.png') 50% / cover no-repeat;
  margin: 0 123px 6px 0;
  width: 212px;
  height: 185px;
}
.desktop-12 .institute-login {
  margin: 0 17.2px 30px 0;
  display: inline-block;
  align-self: center;
  overflow-wrap: break-word;
  font-family: 'Kanit';
  font-weight: 700;
  font-size: 32px;
  letter-spacing: 4.5px;
  color: #FFFFFF;
}
.desktop-12 .institute-id {
  margin: 0 8px 22px 8px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Kanit';
  font-weight: 400;
  font-size: 24px;
  letter-spacing: 3.4px;
  color: #000000;
}
.desktop-12 .rectangle-2 {
  background: #FFFDFD;

  width: 405px;
  height: 63px;
}
.desktop-12 .password {
  margin: 0 8px 22px 8px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Kanit';
  font-weight: 400;
  font-size: 24px;
  letter-spacing: 3.4px;
  color: #000000;
}
.desktop-12 .rectangle-3 {
  background: #FFFFFF;
  
  width: 405px;
  height: 63px;
}
.desktop-12 .forgot-password-1 {
  margin-bottom: 154px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Kanit';
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 2.8px;
  color: #000000;
}
.desktop-12 .or {
  margin: 0 0 11px 188.2px;
  display: inline-block;
  align-self: center;
  overflow-wrap: break-word;
  font-family: 'Kanit';
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 2.2px;
  color: #000000;
}
.desktop-12 .sign-up {
  align-self: flex-end;
  overflow-wrap: break-word;
  font-family: 'Kanit';
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 2.8px;
  color: #000000;
}
.desktop-12 .forgot-password {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}
.desktop-12 .container-1 {
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.desktop-12 .login {
  overflow-wrap: break-word;
  font-family: 'Kanit';
  font-weight: 400;
  font-size: 32px;
  letter-spacing: 4.5px;
  color: #000000;
}
.desktop-12 .container {
  border-radius: 90px;
  background: #FFFFFF;
  position: absolute;
  right: 123px;
  bottom: 119px;
  display: flex;
  padding: 1px 0 3px 1.1px;
  width: 212px;
  box-sizing: border-box;
}
.desktop-12 .container-2 {
  border-radius: 90px;
  background: rgba(59, 156, 255, 0.77);
  position: relative;
  margin-right: 105px;
  display: flex;
  padding: 27px 36px 38px 33px;
  box-sizing: border-box;
}
.desktop-12 {
  background: #D5C3DD;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 0 29px 3px;
  width: 1440px;
  box-sizing: border-box;
}
