
.desktop-9 .frame-3 {
  margin: 12px 0 8px 0;
  display: flex;
  box-sizing: border-box;
}
.desktop-9 .home {
  margin: 12px 0 8px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Kadwa';
  font-weight: 400;
  font-size: 18px;
  color: #000000;
}
.desktop-9 .services {
  margin: 12px 0 8px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Kadwa';
  font-weight: 400;
  font-size: 18px;
  color: #000000;
}
.desktop-9 .product {
  margin: 12px 0 8px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Kadwa';
  font-weight: 400;
  font-size: 18px;
  color: #000000;
}
.desktop-9 .about-us {
  margin: 12px 0 8px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Kadwa';
  font-weight: 400;
  font-size: 18px;
  color: #000000;
}
.desktop-9 .contact-us {
  margin: 12px 0 8px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Kadwa';
  font-weight: 400;
  font-size: 18px;
  color: #000000;
}
.desktop-9 .login-removebg-preview-11 {
  background: url('assets/images/login_removebg_preview_11.png') 50% / cover no-repeat;
  width: 58px;
  height: 56px;
}
.desktop-9 .container-1 {
  background: #FFF1F1;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 3px 79px 2px 0;
  width: 1440px;
  height: fit-content;
  box-sizing: border-box;
}
.desktop-9 .medicast {
  position: relative;
  overflow-wrap: break-word;
  font-family: 'Kanit';
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 2.2px;
  color: #000000;
}
.desktop-9 .container-7 {
  position: absolute;
  left: 17.6px;
  top: 0px;
  width: 44.3px;
  height: 36.9px;
}
.desktop-9 .logo {
  position: absolute;
  left: 26px;
  bottom: 0px;
  display: flex;
  height: 55.9px;
  box-sizing: border-box;
}
.desktop-9 .group-14 {
  position: relative;
  margin: 0 6px 63px 0;
  display: flex;
  padding-bottom: 4px;
  width: 1440px;
  box-sizing: border-box;
}
.desktop-9 .your-location-is-predicted-to-have-cases-of-dengue-have-you-take-abloof-test {
  margin-bottom: 28px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Kanit';
  font-weight: 400;
  font-size: 32px;
  letter-spacing: 4.5px;
  color: #000000;
}
.desktop-9 .log-in {
  overflow-wrap: break-word;
  font-family: 'Kadwa';
  font-weight: 400;
  font-size: 18px;
  color: #FFFFFF;
  
}
.desktop-9 .frame-1 {
  border-radius: 20px;
  background: #007FFF;
  margin-top: 2px;
  display: flex;
  padding: 2px 0.2px 2px 0;
  width: 97px;
  height: fit-content;
  box-sizing: border-box;
  
}
.desktop-9 .log-in-1 {
  overflow-wrap: break-word;
  font-family: 'Kadwa';
  font-weight: 400;
  font-size: 18px;
  color: #FFFFFF;
  
  
}
.desktop-9 .frame-4 {
  border-radius: 20px;
  background: #007FFF;
  margin-bottom: 2px;
  display: flex;
  padding: 2px 0.5px 2px 0;
  width: 97px;
  height: fit-content;
  box-sizing: border-box;
  
}
.desktop-9 .container-6 {
  margin-right: 227.7px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 252px;
  box-sizing: border-box;
}
.desktop-9 .container-4 {
  background: #EEEEEE;
  position: relative;
  margin: 0 129px 63px 116px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 47px 12.3px 3px 85px;
  width: fit-content;
  box-sizing: border-box;
}
.desktop-9 .what-is-the-impact-of-dengue {
  margin-bottom: 11px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Kanit';
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 5px;
  color: #FFFFFF;
}
.desktop-9 .billionpeople-at-risk-endemic-in-129-countries-with-70-of-cases-in-asia-about-390-millioninfections-per-year-96-millionwith-symptoms-85-increase-in-number-of-cases-from-1990-to-2019-puts-immense-pressure-on-health-systems-it-costs-three-times-more-to-manage-dengue-than-cholera-most-dengue-cases-are-underreported-with-many-cases-asymptomatic-mild-and-self-managed-or-misdiagnosed {
  margin-left: 40px;
  overflow-wrap: break-word;
  font-family: 'Kanit';
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 5px;
  color: #FFFFFF;
}
.desktop-9 .container-5 {
  background: #000000;
  position: relative;
  margin: 0 129px 11px 91px;
  display: flex;
  flex-direction: column;
  padding: 18px 16.9px 120px 36px;
  width: fit-content;
  box-sizing: border-box;
}
.desktop-9 .medicines {
  position: absolute;
  left: -253px;
  top: 22px;
  overflow-wrap: break-word;
  font-family: 'Kanit';
  font-weight: 400;
  font-size: 36px;
  letter-spacing: 5px;
  color: #FF0000;
  left: 50px;
}
.desktop-9 .frame-9 {
  background: #FFFFFF;
  position: relative;
  width: 829px;
  height: 126px;
}
.desktop-9 .frame-14 {
  margin: 0 0 3px 37px;
  display: flex;
  width: 829px;
  height: 126px;
  box-sizing: border-box;
}
.desktop-9 .testimonials-from-our-users {
  margin: 0 55.3px 18px 55.3px;
  display: inline-block;
  align-self: flex-end;
  overflow-wrap: break-word;
  font-family: 'Kanit';
  font-weight: 700;
  font-size: 40px;
  letter-spacing: 5.6px;
  color: #FFFFFF;
}
.desktop-9 .privacy-policy {
  margin: 18px 18px 0 0;
  display: inline-block;
  width: 206px;
  overflow-wrap: break-word;
  font-family: 'Kanit';
  font-weight: 700;
  font-size: 24px;
  text-decoration-line: underline;
  letter-spacing: 3.4px;
  color: #FFFFFF;
}
.desktop-9 .cookies-policy {
  margin-bottom: 18px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Kanit';
  font-weight: 700;
  font-size: 24px;
  text-decoration-line: underline;
  letter-spacing: 3.4px;
  color: #FFFFFF;
}
.desktop-9 .container {
  margin-bottom: 23px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-end;
  width: 801.9px;
  box-sizing: border-box;
}
.desktop-9 .follow-us {
  margin-bottom: 9px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Kadwa';
  font-weight: 400;
  font-size: 20px;
  color: #FFFFFF;
}
.desktop-9 .face-removebg-preview-1 {
  background: url('assets/images/face_removebg_preview_1.png') 50% / cover no-repeat;
  margin: 0 16px;
  align-self: flex-start;
  width: 291px;
  height: 83px;
}
.desktop-9 .container-3 {
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.desktop-9 .container {
  position: absolute;
  left: 552px;
  top: 82px;
  overflow-wrap: break-word;
  font-family: 'Kanit';
  font-weight: 700;
  font-size: 40px;
  letter-spacing: 5.6px;
  color: #FF0303;
}
.desktop-9 .container-2 {
  background: #342E49;
  position: relative;
  padding: 25px 142px 48px 142px;
  width: fit-content;
  box-sizing: border-box;
}
.desktop-9 {
  background: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1440px;
  box-sizing: border-box;
}
