.desktop-22 .medicast {
  position: relative;
  overflow-wrap: break-word;
  font-family: 'Kanit';
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 2.2px;
  color: #000000;
}
.desktop-22 .container-2 {
  position: absolute;
  left: 17.6px;
  top: 0px;
  width: 44.3px;
  height: 36.9px;
}
.desktop-22 .logo {
  position: relative;
  display: flex;
  padding-top: 32px;
  box-sizing: border-box;
}
.desktop-22 .donate {
  overflow-wrap: break-word;
  font-family: 'Kadwa';
  font-weight: 400;
  font-size: 18px;
  color: #000000;
}
.desktop-22 .frame-3 {
  margin: 14px 0 6px 0;
  display: flex;
  box-sizing: border-box;
}
.desktop-22 .home {
  margin: 14px 0 6px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Kadwa';
  font-weight: 400;
  font-size: 18px;
  color: #000000;
}
.desktop-22 .services {
  margin: 14px 0 6px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Kadwa';
  font-weight: 400;
  font-size: 18px;
  color: #000000;
}
.desktop-22 .product {
  margin: 14px 0 6px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Kadwa';
  font-weight: 400;
  font-size: 18px;
  color: #000000;
}
.desktop-22 .about-us {
  margin: 14px 0 6px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Kadwa';
  font-weight: 400;
  font-size: 18px;
  color: #000000;
}
.desktop-22 .contact-us {
  margin: 14px 0 6px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Kadwa';
  font-weight: 400;
  font-size: 18px;
  color: #000000;
}
.desktop-22 .container-1 {
  background: #FFF1F1;
  position: relative;
  margin-bottom: 117px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 4px 0 1px 60px;
  width: 1440px;
  box-sizing: border-box;
}
.desktop-22 .enter-country {
  margin: 15px 15px 15px 0;
  display: inline-block;
  width: 159px;
  overflow-wrap: break-word;
  font-family: 'Kanit';
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 2.8px;
  color: #000000;
}
.desktop-22 .rectangle-32 {
  background: #FFFFFF;
  width: 557px;
  height: 60px;
}
.desktop-22 .container-3 {
  margin-bottom: 18px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 847px;
  box-sizing: border-box;
}
.desktop-22 .enter-state {
  margin: 15px 15px 15px 0;
  display: inline-block;
  width: 128px;
  overflow-wrap: break-word;
  font-family: 'Kanit';
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 2.8px;
  color: #000000;
}
.desktop-22 .rectangle-33 {
  background: #FFFFFF;
  width: 557px;
  height: 60px;
}
.desktop-22 .container {
  margin-bottom: 18px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 847px;
  box-sizing: border-box;
}
.desktop-22 .enter-city {
  margin: 15px 15px 15px 0;
  display: inline-block;
  width: 106px;
   
  font-family: 'Kanit';
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 2.8px;
  color: #000000;
}
.desktop-22 .rectangle-34 {
  background: #FFFFFF;
  width: 557px;
  height: 60px;
}
.desktop-22 .container-8 {
  margin-bottom: 18px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 847px;
  box-sizing: border-box;
}
.desktop-22 .enter-specility {
  margin: 15px 15px 15px 0;
  display: inline-block;
  width: 169px;
  overflow-wrap: break-word;
  font-family: 'Kanit';
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 2.8px;
  color: #000000;
}
.desktop-22 .rectangle-35 {
  background: #FFFFFF;
  width: 557px;
  height: 60px;
}
.desktop-22 .container-6 {
  margin-bottom: 18px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 847px;
  box-sizing: border-box;
}
.desktop-22 .enter-name {
  margin: 15px 15px 15px 0;
  display: inline-block;
  width: 130px;
  overflow-wrap: break-word;
  font-family: 'Kanit';
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 2.8px;
  color: #000000;
}
.desktop-22 .rectangle-36 {
  background: #FFFFFF;
  width: 557px;
  height: 60px;
}
.desktop-22 .container-5 {
  margin-bottom: 59px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 847px;
  box-sizing: border-box;
}
.desktop-22 .log-in {
  overflow-wrap: break-word;
  font-family: 'Kadwa';
  font-weight: 400;
  font-size: 18px;
  color: #FFFFFF;
}
.desktop-22 .frame-25 {
  border-radius: 20px;
  background: #007FFF;
  margin-left: 42px;
  display: flex;
  padding: 2px 14.2px 2px 13.5px;
  box-sizing: border-box;
}
.desktop-22 .group-4 {
  border-radius: 90px;
  background: #EEEEEE;
  position: relative;
  margin: 0 0 110px 55px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 68px 56px 43px 42px;
  width: 945px;
  box-sizing: border-box;
}
.desktop-22 .doctors-are-at-the-heart-of-medical-innovation-from-identifying-new-diseases-to-developing-cutting-edge-treatments-their-dedication-to-research-clinical-excellence-and-global-collaboration-drives-progress-in-health-care-as-new-challenges-arise-doctors-will-continue-to-be-pivotal-in-shaping-the-future-of-medicine-enhancing-our-ability-to-prevent-diagnose-and-treat-diseases-their-relentless-pursuit-of-knowledge-and-improvement-is-atestament-to-their-commitment-to-advancing-human-health-and-well-being {
  margin: 0 143.8px 103px 143.8px;
  display: inline-block;
  align-self: flex-end;
  overflow-wrap: break-word;
  font-family: 'Kanit';
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 2.2px;
  color: #000000;
}
.desktop-22 .list-of-doctors {
  margin: 25.6px 54.9px 134.4px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Kanit';
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 2.8px;
  color: #000000;
}
.desktop-22 .rectangle-321 {
  background: #FFFFFF;
  width: 557px;
  height: 190px;
}
.desktop-22 .container-4 {
  margin-bottom: 94px;
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}
.desktop-22 .log-in-1 {
  overflow-wrap: break-word;
  font-family: 'Kadwa';
  font-weight: 400;
  font-size: 18px;
  color: #FFFFFF;
}
.desktop-22 .frame-26 {
  border-radius: 20px;
  background: #007FFF;
  margin-left: 57px;
  display: flex;
  align-self: center;
  padding: 2px 0.7px 2px 0;
  width: 97px;
  box-sizing: border-box;
}
.desktop-22 .group-29 {
  border-radius: 90px;
  background: #EEEEEE;
  position: relative;
  margin-left: 107px;
  display: flex;
  flex-direction: column;
  padding: 40px 0 96px 42px;
  width: fit-content;
  box-sizing: border-box;
}
.desktop-22 .container-7 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.desktop-22 .login-removebg-preview-11 {
  background: url('assets/images/login_removebg_preview_11.png') 50% / cover no-repeat;
  position: absolute;
  top: 10px;
  right: 52px;
  width: 58px;
  height: 56px;
}
.desktop-22 {
  background: #FFFFFF;
  display: flex;
  padding-bottom: 121px;
  width: 1440px;
  box-sizing: border-box;
}
