.desktop-19 .my-patients {
  overflow-wrap: break-word;
  font-family: 'Kadwa';
  font-weight: 400;
  font-size: 18px;
  color: #000000;
}
.desktop-19 .frame-3 {
  margin: 8px 0 12px 0;
  display: flex;
  box-sizing: border-box;
  
}
.desktop-19 .latest-news {
  margin-right: 18px;
  width: 104px;
  overflow-wrap: break-word;
  font-family: 'Kadwa';
  font-weight: 400;
  font-size: 18px;
  color: #000000;
}
 
.desktop-19 .contact-doctors {
  margin-right: 6.4px;
  overflow-wrap: break-word;
  font-family: 'Kadwa';
  font-weight: 400;
  font-size: 18px;
  color: #000000;
}
.desktop-19 .services {
  overflow-wrap: break-word;
  font-family: 'Kadwa';
  font-weight: 400;
  font-size: 18px;
  color: #000000;
}
.desktop-19 .container-6 {
  margin: 8px 0px 12px 0;
  display: flex;
  flex-direction: row;
  justify-content:center;
  width: 367.2px;
  height: fit-content;
  box-sizing: border-box;
  top: 500px;
  bottom: 200px;
}
.desktop-19 .about-us {
  margin: 8px 0 12px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Kadwa';
  font-weight: 400;
  font-size: 18px;
  color: #000000;
}
.desktop-19 .contact-us {
  margin: 8px 0 12px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Kadwa';
  font-weight: 400;
  font-size: 18px;
  color: #000000;
}
.desktop-19 .home {
  margin: 8px 0 12px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Kadwa';
  font-weight: 400;
  font-size: 18px;
  color: #000000;
}
.desktop-19 .login-removebg-preview-11 {
  background: url('assets/images/login_removebg_preview_11.png') 50% / cover no-repeat;
  width: 58px;
  height: 56px;
}
.desktop-19 .container-2 {
  background: #FFF1F1;
  position: fixed;
  margin-right: 3px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 3px 0px 2px 0;
  width: 1440px;
  padding-top: -59px;
  box-sizing: border-box;
  top: 700px;
}
.desktop-19 .rectangle-44 {
  background: #ffffff;
  margin: 0 3px 61px 0;
  width: 1440px;
  height: 400px;
}
.desktop-19 .medicast {
  position: relative;
  overflow-wrap: break-word;
  font-family: 'Kanit';
  font-weight: 400;
  font-size: 16px;
  
  letter-spacing: 2.2px;
  Color: #000000;
}
.desktop-19 .container-7 {
  position: absolute;
  left: 17.6px;
  top: 0px;
  width: 44.3px;
  height: 36.9px;
}
.desktop-19 .logo {
  position: relative;
  margin: 10px 39px 504px 32px;
  display: flex;
  align-self: flex-start;
  padding-top: 32px;
  box-sizing: border-box;
  bottom: 470px;
  width: 90px;
  height: 90px;
  background-color: #e6e2f8;
}
.desktop-19 .no-of-patients-attended-167-no-of-taken-leave-12-night-shifts-50-morning-shifts-84-emergency-cases-23 {
  margin: 0 390.9px 115px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Kadwa';
  font-weight: 700;
  font-size: 32px;
  color: #000000;
}
.desktop-19 .overall-rating {
  margin-right: 13.1px;
  overflow-wrap: break-word;
  font-family: 'Kadwa';
  font-weight: 700;
  font-size: 32px;
  color: #000000;
}
.desktop-19 .container {
  margin-right: 30px;
  width: 233.6px;
  overflow-wrap: break-word;
  font-family: 'Kanit';
  font-weight: 700;
  font-size: 40px;
  letter-spacing: 5.6px;
  color: #FF0303;
}
.desktop-19 .container-1 {
  overflow-wrap: break-word;
  font-family: 'Kanit';
  font-weight: 700;
  font-size: 40px;
  letter-spacing: 5.6px;
  color: #FF0303;
}
.desktop-19 .group-15 {
  margin: 3px 0 1px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 407.6px;
  height: fit-content;
  box-sizing: border-box;
}
.desktop-19 .group-16 {
  margin: 0 175px 118px 0;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.desktop-19 .testimonials-from-our-users {
  margin: 0 75.8px 18px 75.8px;
  display: inline-block;
  align-self: flex-end;
  overflow-wrap: break-word;
  font-family: 'Kanit';
  font-weight: 700;
  font-size: 40px;
  letter-spacing: 5.6px;
  color: #FFFFFF;
}
.desktop-19 .privacy-policy {
  margin: 18px 18px 0 0;
  display: inline-block;
  width: 213px;
  overflow-wrap: break-word;
  font-family: 'Kanit';
  font-weight: 700;
  font-size: 24px;
  text-decoration-line: underline;
  letter-spacing: 3.4px;
  color: #FFFFFF;
}
.desktop-19 .cookies-policy {
  margin-bottom: 18px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Kanit';
  font-weight: 700;
  font-size: 24px;
  text-decoration-line: underline;
  letter-spacing: 3.4px;
  color: #FFFFFF;
}
.desktop-19 .container-1 {
  margin-bottom: 23px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-end;
  width: 821.9px;
  box-sizing: border-box;
}
.desktop-19 .follow-us {
  margin-bottom: 9px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Kadwa';
  font-weight: 400;
  font-size: 20px;
  color: #FFFFFF;
}
.desktop-19 .face-removebg-preview-1 {
  background: url('assets/images/face_removebg_preview_1.png') 50% / cover no-repeat;
  margin: 0 16.5px;
  align-self: flex-start;
  width: 300.8px;
  height: 83px;
}
.desktop-19 .container-3 {
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.desktop-19 .container-2 {
  position: absolute;
  left: 120px;
  top: 0px;
  overflow-wrap: break-word;
  font-family: 'Kanit';
  font-weight: 700;
  font-size: 40px;
  letter-spacing: 5.6px;
  color: #FF0303;
  background-color: #e6e2f8;
}
.desktop-19 .group-13 {
  background: #342E49;
  position: relative;
  margin-left: 3px;
  display: flex;
  padding: 25px 212.9px 48px 0;
  width: 1520px;
  box-sizing: border-box;
}
.desktop-19 .container-4 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1443px;
  height: fit-content;
  box-sizing: border-box;
}
.desktop-19 .image-21 {
  background: url('assets/images/image_21.png') 50% / cover no-repeat;
  position: absolute;
  top: 100px;
  right: -2px;
  width: 1440px;
  height: 454px;
}
.desktop-19 .achievements {
  margin-bottom: 30px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Kadwa';
  font-weight: 700;
  font-size: 32px;
  background: linear-gradient(90deg, #FF0707, #000000);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}
.desktop-19 .attended-a-50-emergency-cases-and-more-critical-cases {
  margin: 0 191.6px 29px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Kadwa';
  font-weight: 700;
  font-size: 32px;
  color: #000000;
}
.desktop-19 .helpful-for-more-cases-to-protect-their-life {
  margin: 0 390.8px 44px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Kadwa';
  font-weight: 700;
  font-size: 32px;
  color: #000000;
}
.desktop-19 .in-emergency-working-for-24-hours-thats-proud-of-you-to-say-that-aword-doctor {
  align-self: flex-end;
  overflow-wrap: break-word;
  font-family: 'Kadwa';
  font-weight: 700;
  font-size: 32px;
  color: #000000;
}
.desktop-19 .container-5 {
  background: #FFFFFF;
  position: absolute;
  left: -5px;
  top: 515px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 39px 49.5px 58px 58px;
  width: 1440px;
  height: 520px;
  box-sizing: border-box;
}
.desktop-19 .performance-of-user {
  position: absolute;
  left: 72px;
  top: 989px;
  overflow-wrap: break-word;
  font-family: 'Kadwa';
  font-weight: 700;
  font-size: 32px;
  background: linear-gradient(90deg, #E20707, #000000);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}
.desktop-19 .medicast-1 {
  position: relative;
  overflow-wrap: break-word;
  font-family: 'Kanit';
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 2.2px;
  color: #000000;
}
.desktop-19 .container {
  position: absolute;
  left: 17.6px;
  top: 0px;
  width: 44.3px;
  height: 36.9px;
}
.desktop-19 .logo-1 {
  position: absolute;
  left: 31px;
  top: 7px;
  display: flex;
  height: 55.9px;
  box-sizing: border-box;
}
.desktop-19 {
  background: #FFFFFF;
  display: flex;
  padding-bottom: 2px;
  width: 1440px;
  box-sizing: border-box;
}
