.desktop-7 .medicast {
  position: relative;
  overflow-wrap: break-word;
  font-family: 'Kanit';
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 2.2px;
  color: #000000;
}
.desktop-7 .container-1 {
  position: absolute;
  left: 17.6px;
  top: 0px;
  width: 44.3px;
  height: 36.9px;
}
.desktop-7 .logo {
  position: relative;
  display: flex;
  padding-top: 32px;
  box-sizing: border-box;
}
.desktop-7 .home-1 {
  margin-top: 16px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Kadwa';
  font-weight: 400;
  font-size: 20px;
  color: #000000;
}
.desktop-7 .about {
  margin-top: 16px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Kadwa';
  font-weight: 400;
  font-size: 20px;
  color: #000000;
}
.desktop-7 .faqs {
  margin-top: 16px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Kadwa';
  font-weight: 400;
  font-size: 20px;
  color: #000000;
}
.desktop-7 .usage-stattistics {
  margin-top: 16px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Kadwa';
  font-weight: 400;
  font-size: 20px;
  color: #000000;
}
.desktop-7 .contact-us {
  margin-top: 16px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Kadwa';
  font-weight: 400;
  font-size: 20px;
  color: #000000;
}
.desktop-7 .services {
  margin-top: 16px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Kadwa';
  font-weight: 400;
  font-size: 20px;
  color: #000000;
}
.desktop-7 .login-removebg-preview-11 {
  background: url('assets/images/login_removebg_preview_11.png') 50% / cover no-repeat;
  width: 58px;
  height: 56px;
}
.desktop-7 .container-5 {
  margin: 0 29px 84px 57px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1271px;
  box-sizing: border-box;
}
.desktop-7 .enter-abrief-patients-description-and-medcast-will-provide-alist-of-possible-disease-diagnoses {
  margin: 0 31px 24px 132px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Kadwa';
  font-weight: 700;
  font-size: 36px;
  color: #000000;
}
.desktop-7 .home {
  margin: 88px 18px 121px 0;
  display: inline-block;
  width: 52px;
  overflow-wrap: break-word;
  font-family: 'Kadwa';
  font-weight: 400;
  font-size: 18px;
  color: #000000;
}
.desktop-7 .rectangle-19 {
  background: #c4b8b8;
  width: 1229px;
  height: 245px;
}
.desktop-7 .container-3 {
  margin: 0 31px 44px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
  box-sizing: border-box;
}
.desktop-7 .log-in {
  overflow-wrap: break-word;
  font-family: 'Kadwa';
  font-weight: 400;
  font-size: 32px;
  z-index: 1;
  color: #FFFFFF;
}
.desktop-7 .frame-1 {
  border-radius: 20px;
  background: #007FFF;
  margin: 0 0 153px 87px;
  display: flex;
  padding: 0 19.8px 0 19.5px;
  box-sizing: border-box;
}
.desktop-7 .image-8 {
  border-radius: 360px;
  background: url('assets/images/image_8.png') 50% / cover no-repeat;
  margin-right: 43px;
  width: 169px;
  height: 169px;
}
.desktop-7 .image-9 {
  border-radius: 360px;
  background: url('assets/images/image_9.png') 50% / cover no-repeat;
  margin-right: 56px;
  width: 169px;
  height: 169px;
}
.desktop-7 .image-10 {
  border-radius: 360px;
  background: url('assets/images/image_10.png') 50% / cover no-repeat;
  margin-right: 33px;
  width: 169px;
  height: 169px;
}
.desktop-7 .image-11 {
  border-radius: 360px;
  background: url('assets/images/image_11.png') 50% / cover no-repeat;
  margin-right: 66px;
  width: 169px;
  height: 169px;
}
.desktop-7 .image-12 {
  border-radius: 360px;
  background: url('assets/images/image_12.png') 50% / cover no-repeat;
  margin-right: 40px;
  width: 169px;
  height: 169px;
}
.desktop-7 .image-13 {
  border-radius: 90px;
  background: url('assets/images/image_13.png') 50% / cover no-repeat;
  width: 169px;
  height: 169px;
}
.desktop-7 .container-2 {
  margin: 0 8px 28px 97px;
  display: flex;
  flex-direction: row;
  width: 1252px;
  box-sizing: border-box;
}
.desktop-7 .medicines {
  overflow-wrap: break-word;
  font-family: 'Kanit';
  font-weight: 400;
  font-size: 24px;
  letter-spacing: 3.4px;
  color: #000000;
}
.desktop-7 .hover {
  background: #FFFFFF;
  margin: 2px 0 12px 0;
  display: flex;
  padding: 0 10.2px 0 10px;
  box-sizing: border-box;
}
.desktop-7 .medicines-1 {
  position: absolute;
  left: -3px;
  bottom: -1.5px;
  overflow-wrap: break-word;
  font-family: 'Kanit';
  font-weight: 400;
  font-size: 24px;
  letter-spacing: 3.4px;
  color: #000000;
}
.desktop-7 .hover-1 {
  background: #FFFFFF;
  position: relative;
  margin: 3px 0 11px 0;
  width: 138px;
  height: 33px;
}
.desktop-7 .medicines-2 {
  position: absolute;
  left: -24px;
  bottom: -1.5px;
  overflow-wrap: break-word;
  font-family: 'Kanit';
  font-weight: 400;
  font-size: 24px;
  letter-spacing: 3.4px;
  color: #000000;
}
.desktop-7 .hover-2 {
  background: #FFFFFF;
  position: relative;
  margin: 2px 0 12px 0;
  width: 138px;
  height: 33px;
}
.desktop-7 .medicines-3 {
  overflow-wrap: break-word;
  font-family: 'Kanit';
  font-weight: 400;
  font-size: 24px;
  letter-spacing: 3.4px;
  color: #000000;
}
.desktop-7 .hover-3 {
  background: #FFFFFF;
  margin: 2px 0 12px 0;
  display: flex;
  padding: 0 2.5px 0 2px;
  box-sizing: border-box;
}
.desktop-7 .medicines-4 {
  position: absolute;
  top: -37.5px;
  right: -38.4px;
  overflow-wrap: break-word;
  font-family: 'Kanit';
  font-weight: 400;
  font-size: 24px;
  letter-spacing: 3.4px;
  color: #000000;
}
.desktop-7 .hover-4 {
  background: #FFFFFF;
  position: relative;
  margin-top: 14px;
  width: 138px;
  height: 33px;
}
.desktop-7 .medicines-5 {
  position: absolute;
  left: -8.5px;
  bottom: -1.5px;
  overflow-wrap: break-word;
  font-family: 'Kanit';
  font-weight: 400;
  font-size: 24px;
  letter-spacing: 3.4px;
  color: #000000;
}
.desktop-7 .hover-5 {
  background: #FFFFFF;
  position: relative;
  margin-bottom: 14px;
  width: 138px;
  height: 33px;
}
.desktop-7 .container-4 {
  margin: 0 10px 143px 135px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1212px;
  box-sizing: border-box;
}
 

 
.desktop-7 .container {
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.desktop-7 .container {
  position: absolute;
  left: 530px;
  top: 82px;
  overflow-wrap: break-word;
  font-family: 'Kanit';
  font-weight: 700;
  font-size: 40px;
  letter-spacing: 5.6px;
  color: #FF0303;
}
.desktop-7 .container-6 {
  background: #342E49;
  position: relative;
  margin-left: 68px;
  padding: 25px 120px 48px 120px;
  width: fit-content;
  box-sizing: border-box;
}
.desktop-7 {
  background: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 29px 83px 143px 0;
  width: 1440px;
  box-sizing: border-box;
} 
.desktop-7 .testimonials-from-our-users {
  margin: 0 75.8px 18px 75.8px;
  display: inline-block;
  align-self: flex-end;
  overflow-wrap: break-word;
  font-family: 'Kanit';
  font-weight: 700;
  font-size: 40px;
  letter-spacing: 5.6px;
  color: #FFFFFF;
}
.desktop-7 .privacy-policy {
  margin: 18px 18px 0 0;
  display: inline-block;
  width: 213px;
  overflow-wrap: break-word;
  font-family: 'Kanit';
  font-weight: 700;
  font-size: 24px;
  text-decoration-line: underline;
  letter-spacing: 3.4px;
  color: #FFFFFF;
}
.desktop-7 .cookies-policy {
  margin-bottom: 18px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Kanit';
  font-weight: 700;
  font-size: 24px;
  text-decoration-line: underline;
  letter-spacing: 3.4px;
  color: #FFFFFF;
}
 
.desktop-7 .follow-us {
  margin-bottom: 9px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Kadwa';
  font-weight: 400;
  margin-left: 325px;
  font-size: 20px;
  color: #FFFFFF;
}
.desktop-7 .face-removebg-preview-1 {
  background: url('assets/images/face_removebg_preview_1.png') 50% / cover no-repeat;
  margin: 0 16.5px;
  margin-left: 325px;
  align-self: flex-start;
  width: 300.8px;
  height: 83px;
}
.desktop-7 .container-6 {
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.desktop-7 .container {
  position: absolute;
  left: 570.6px;
  top: 82px;
  overflow-wrap: break-word;
  font-family: 'Kanit';
  font-weight: 700;
  font-size: 40px;
  letter-spacing: 5.6px;
  color: #FF0303;
}
.desktop-7 .group-13 {
  background: #342E49;
  position: relative;
  margin-right: 2px;
  display: flex;
  padding: 25px 212.9px 48px 0;
  width: 1440px;
  box-sizing: border-box;
}
