.desktop-15 .medicast {
  position: relative;
  overflow-wrap: break-word;
  font-family: 'Kanit';
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 2.2px;
  color: #000000;
}
.desktop-15 .container-8 {
  position: absolute;
  left: 17.6px;
  top: 0px;
  width: 44.3px;
  height: 36.9px;
}
.desktop-15 .logo {
  position: relative;
  margin: 0 26px 539px 26px;
  display: flex;
  align-self: flex-start;
  padding-top: 32px;
  box-sizing: border-box;
}
.desktop-15 .donate {
  overflow-wrap: break-word;
  font-family: 'Kadwa';
  font-weight: 400;
  font-size: 18px;
  color: #000000;
}
.desktop-15 .frame-3 {
  margin: 8px 0 12px 0;
  display: flex;
  box-sizing: border-box;
}
.desktop-15 .home {
  margin: 8px 0 12px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Kadwa';
  font-weight: 400;
  font-size: 18px;
  color: #000000;
}
.desktop-15 .services {
  margin: 8px 0 12px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Kadwa';
  font-weight: 400;
  font-size: 18px;
  color: #000000;
}
.desktop-15 .product {
  margin: 8px 0 12px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Kadwa';
  font-weight: 400;
  font-size: 18px;
  color: #000000;
}
.desktop-15 .about-us {
  margin: 8px 0 12px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Kadwa';
  font-weight: 400;
  font-size: 18px;
  color: #000000;
}
.desktop-15 .contact-us {
  margin: 8px 0 12px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Kadwa';
  font-weight: 400;
  font-size: 18px;
  color: #000000;
}
.desktop-15 .login-removebg-preview-11 {
  background: url('assets/images/login_removebg_preview_11.png') 50% / cover no-repeat;
  width: 58px;
  height: 56px;
}
.desktop-15 .container-2 {
  background: #FFF1F1;
  position: relative;
  margin: 0 9px 1471px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 3px 80px 2px 0;
  width: 1440px;
  box-sizing: border-box;
}
.desktop-15 .what-is-dengue {
  margin: 0 127px 32px 127px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Kanit';
  font-weight: 700;
  font-size: 40px;
  letter-spacing: 5.6px;
  color: #000000;
}
.dengue-is-caused-by-avirus-that-is-mostly-transmitted-by-the-bite-of-female-mosquitoes-of-the-species-aedes-aegypti-dengue-symptoms-range-from-none-to-serious-flu-like-symptoms-asmall-proportion-of-people-develop-severe-dengue-which-can-be-fatal-there-are-four-closely-related-dengue-viruses-which-are-called-dengue-serotypes-although-recovery-from-infection-gives-immunity-from-the-same-dengue-serotype-it-also-increases-the-risk-of-severe-dengue-if-people-are-later-infected-by-adifferent-serotype-dengue-is-the-most-widely-distributed-mosquito-borne-viral-disease-in-the-world-it-continues-to-spread-rapidly-because-of-climate-change-rapid-urbanization-and-population-growth-outbreaks-are-usually-seasonal-peakingduring-and-after-rainy-seasons-sub74 {
  font-family: 'Adamina', 'Roboto Condensed';
  font-weight: 400;
  font-size: 24px;
  line-height: 1.333;
}
.dengue-is-caused-by-avirus-that-is-mostly-transmitted-by-the-bite-of-female-mosquitoes-of-the-species-aedes-aegypti-dengue-symptoms-range-from-none-to-serious-flu-like-symptoms-asmall-proportion-of-people-develop-severe-dengue-which-can-be-fatal-there-are-four-closely-related-dengue-viruses-which-are-called-dengue-serotypes-although-recovery-from-infection-gives-immunity-from-the-same-dengue-serotype-it-also-increases-the-risk-of-severe-dengue-if-people-are-later-infected-by-adifferent-serotype-dengue-is-the-most-widely-distributed-mosquito-borne-viral-disease-in-the-world-it-continues-to-spread-rapidly-because-of-climate-change-rapid-urbanization-and-population-growth-outbreaks-are-usually-seasonal-peakingduring-and-after-rainy-seasons {
  font-family: 'Adamina', 'Roboto Condensed';
  font-weight: 400;
  font-size: 24px;
  text-decoration-line: underline;
  line-height: 1.333;
}
.desktop-15 .dengue-is-caused-by-avirus-that-is-mostly-transmitted-by-the-bite-of-female-mosquitoes-of-the-species-aedes-aegypti-dengue-symptoms-range-from-none-to-serious-flu-like-symptoms-asmall-proportion-of-people-develop-severe-dengue-which-can-be-fatal-there-are-four-closely-related-dengue-viruses-which-are-called-dengue-serotypes-although-recovery-from-infection-gives-immunity-from-the-same-dengue-serotype-it-also-increases-the-risk-of-severe-dengue-if-people-are-later-infected-by-adifferent-serotype-dengue-is-the-most-widely-distributed-mosquito-borne-viral-disease-in-the-world-it-continues-to-spread-rapidly-because-of-climate-change-rapid-urbanization-and-population-growth-outbreaks-are-usually-seasonal-peakingduring-and-after-rainy-seasons {
  overflow-wrap: break-word;
  font-family: 'Kanit';
  font-weight: 400;
  font-size: 24px;
  color: #000000;
}
.desktop-15 .group-21 {
  margin: 0 24.3px 60px 0;
  display: flex;
  box-sizing: border-box;
}
.desktop-15 .dengue-is-aviral-infection-transmitted-to-humans-through-the-bite-of-infected-mosquitoes-about-half-of-the-worlds-population-is-now-at-risk-of-dengue-with-an-estimated-100400-million-infections-occurring-each-year-dengue-is-found-in-tropical-and-sub-tropical-climates-worldwide-mostly-in-urban-and-semi-urban-areas-while-many-dengue-infections-are-asymptomatic-or-produce-only-mild-illness-the-virus-can-occasionally-cause-more-severe-cases-and-even-death-prevention-and-control-of-dengue-depend-on-vector-control-there-is-no-specific-treatment-for-denguesevere-dengue-and-early-detection-and-access-to-proper-medical-care-greatly-lower-fatality-rates-of-severe-dengue {
  margin: 0 139.8px 202px 128px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Kadwa';
  font-weight: 400;
  font-size: 24px;
  letter-spacing: 3.4px;
  color: #000000;
}
.desktop-15 .need-atleast-bed-for-patients {
  margin: 0 67.5px 39px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Kadwa';
  font-weight: 700;
  font-size: 40px;
  letter-spacing: 5.6px;
  color: #000000;
}
.desktop-15 .medicines {
  overflow-wrap: break-word;
  font-family: 'Kanit';
  font-weight: 400;
  font-size: 24px;
  letter-spacing: 3.4px;
  color: #000000;
}
.desktop-15 .hover {
  background: #D9D9D9;
  margin: 0 104px 123px 0;
  display: flex;
  padding: 21px 11.1px 21px 10.5px;
  box-sizing: border-box;
}
.desktop-15 .testimonials-from-our-users {
  margin: 0 75.8px 18px 75.8px;
  display: inline-block;
  align-self: flex-end;
  overflow-wrap: break-word;
  font-family: 'Kanit';
  font-weight: 700;
  font-size: 40px;
  letter-spacing: 5.6px;
  color: #FFFFFF;
}
.desktop-15 .privacy-policy {
  margin: 18px 18px 0 0;
  display: inline-block;
  width: 213px;
  overflow-wrap: break-word;
  font-family: 'Kanit';
  font-weight: 700;
  font-size: 24px;
  text-decoration-line: underline;
  letter-spacing: 3.4px;
  color: #FFFFFF;
}
.desktop-15 .cookies-policy {
  margin-bottom: 58px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Kanit';
  font-weight: 700;
  font-size: 24px;
  text-decoration-line: underline;
  letter-spacing: 3.4px;
  color: #FFFFFF;
  left: 200px;
}
.desktop-15 .container-7 {
  margin-bottom: 23px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-end;
  width: 821.9px;
  box-sizing: border-box;
}
.desktop-15 .follow-us {
  margin-bottom: 9px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Kadwa';
  font-weight: 400;
  font-size: 20px;
  color: #FFFFFF;
}
.desktop-15 .face-removebg-preview-1 {
  background: url('assets/images/face_removebg_preview_1.png') 50% / cover no-repeat;
  margin: 0 16.5px;
  align-self: flex-start;
  width: 300.8px;
  height: 83px;
}
.desktop-15 .container-6 {
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.desktop-15 .container {
  position: absolute;
  left: 370.6px;
  top: 82px;
  overflow-wrap: break-word;
  font-family: 'Kanit';
  font-weight: 700;
  font-size: 40px;
  letter-spacing: 5.6px;
  color: #FF0303;
  
}
.desktop-15 .group-13 {
  background: #342E49;
  position: relative;
  margin-left: 9px;
  display: flex;
  padding: 25px 212.9px 48px 0;
  width: 1490px;
  box-sizing: border-box;
}
.desktop-15 .container-3 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1449px;
  height: fit-content;
  box-sizing: border-box;
}
.desktop-15 .image-14 {
  background: url('assets/images/image_14.png') 50% / cover no-repeat;
  margin: 34.7px 71.8px 0 0;
  width: 250.7px;
  height: 246.4px;
}
.desktop-15 .dengue {
  margin-bottom: 32.9px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Kanit';
  font-weight: 700;
  font-size: 40px;
  letter-spacing: 5.6px;
  color: #000000;
}
.desktop-15 .symptoms-transmission-and-current-treatments-for-dengue {
  overflow-wrap: break-word;
  font-family: 'Kadwa';
  font-weight: 400;
  font-size: 40px;
  letter-spacing: 5.6px;
  color: #000000;
}
.desktop-15 .container {
  margin-bottom: 28.2px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.desktop-15 .group-20 {
  background: #EEEEEE;
  position: relative;
  margin-bottom: 62px;
  display: flex;
  flex-direction: row;
  padding: 22.3px 0 57px 32.8px;
  width: 1440px;
  box-sizing: border-box;
}
.desktop-15 .enter-district {
  margin: 24px 18px 16px 0;
  display: inline-block;
  width: 213px;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 24px;
  letter-spacing: 3.4px;
  color: #000000;
}
.desktop-15 .rectangle-37 {
  background: #FFFFFF;
  width: 751px;
  height: 76px;
}
.desktop-15 .container-5 {
  margin-bottom: 62px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  width: 1045px;
  box-sizing: border-box;
}
.desktop-15 .log-in {
  overflow-wrap: break-word;
  font-family: 'Kadwa';
  font-weight: 400;
  font-size: 18px;
  color: #FFFFFF;
}
.desktop-15 .frame-1 {
  border-radius: 20px;
  background: #007FFF;
  margin-left: 84px;
  display: flex;
  align-self: center;
  padding: 2px 14.2px 2px 13.5px;
  box-sizing: border-box;
}
.desktop-15 .group-17 {
  border-radius: 90px;
  background: #EEEEEE;
  position: relative;
  margin: 0 98.4px 0 105px;
  display: flex;
  flex-direction: column;
  padding: 33px 0 34px 46px;
  width: 1229px;
  box-sizing: border-box;
}
.desktop-15 .container-4 {
  background: #FBF2E1;
  position: absolute;
  left: 0px;
  top: 59px;
  right: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30.6px 7.6px 0 0;
  height: 811px;
  box-sizing: border-box;
}
.desktop-15 .image-18 {
  background: url('assets/images/image_18.png') 50% / cover no-repeat;
  position: absolute;
  top: 870px;
  right: -1px;
  width: 1432px;
  height: 716px;
}
.desktop-15 .there-might-be-cases-predicted-by-this-month {
  position: absolute;
  right: 200.4px;
  bottom: -2380px;
   
  font-family: 'Kadwa';
  font-weight: 700;
  font-size: 40px;
  letter-spacing: 5.6px;
  color: #000000;
}
.desktop-15 .medicast-1 {
  position: relative;
  overflow-wrap: break-word;
  font-family: 'Kanit';
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 2.2px;
  padding-top: 30px;
  color: #000000;
}
.desktop-15 .container-1 {
  position: absolute;
  left: 17.6px;
  top: 0px;
  width: 44.3px;
  height: 36.9px;
}
.desktop-15 .logo-1 {
  position: absolute;
  left: 47px;
  top: 5px;
  display: flex;
  height: 55.9px;
  box-sizing: border-box;
}
.desktop-15 {
  background: #FFFFFF;
  display: flex;
  width: 1440px;
  box-sizing: border-box;
}
