.desktop-20 .donate {
  overflow-wrap: break-word;
  font-family: 'Kadwa';
  font-weight: 400;
  font-size: 18px;
  color: #000000;
}
.desktop-20 .frame-3 {
  margin: 8px 0 12px 0;
  display: flex;
  box-sizing: border-box;
}
.desktop-20 .home {
  margin: 8px 0 12px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Kadwa';
  font-weight: 400;
  font-size: 18px;
  color: #000000;
}
.desktop-20 .latest-news {
  margin-right: 18px;
  width: 104px;
  overflow-wrap: break-word;
  font-family: 'Kadwa';
  font-weight: 400;
  font-size: 18px;
  color: #000000;
}
.desktop-20 .product {
  overflow-wrap: break-word;
  font-family: 'Kadwa';
  font-weight: 400;
  font-size: 18px;
  color: #000000;
}
.desktop-20 .container-3 {
  margin: 8px 0 12px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 213.3px;
  height: fit-content;
  box-sizing: border-box;
}
.desktop-20 .about-us {
  margin: 8px 0 12px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Kadwa';
  font-weight: 400;
  font-size: 18px;
  color: #000000;
}
.desktop-20 .contact-us {
  margin: 8px 0 12px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Kadwa';
  font-weight: 400;
  font-size: 18px;
  color: #000000;
}
.desktop-20 .login-removebg-preview-11 {
  background: url('assets/images/login_removebg_preview_11.png') 50% / cover no-repeat;
  width: 58px;
  height: 56px;
}
.desktop-20 .container-4 {
  background: #FFF1F1;
  position: relative;
  margin-bottom: 2px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 3px 80px 2px 0;
  width: 1440px;
  box-sizing: border-box;
}
.desktop-20 .medicast {
  position: relative;
  overflow-wrap: break-word;
  font-family: 'Kanit';
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 2.2px;
  color: #000000;
  bottom: 70px;
}
.desktop-20 .container {
  position: relative;
  left: 17.6px;
  top: 0px;
  width: 44.3px;
  height: 36.9px;
  flex-direction: column;
  display: flex;

}
.desktop-20 .logo {
  position: relative;
  margin-bottom: 121px;
  display: flex;
  padding-top: 32px;
  box-sizing: border-box;
  bottom: 140px;
  right: 750px;
}
.desktop-20 .my-patients {
  margin-top: 33px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Kanit';
  font-weight: 400;
  font-size: 96px;
  letter-spacing: 13.4px;
  background: linear-gradient(90deg, #FF0303, #000000);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}
.desktop-20 .container-1 {
  margin: 0 13px 59px 13px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  width: 1015.3px;
  box-sizing: border-box;
}
.desktop-20 .image-22 {
  background: url('assets/images/image_22.png') 50% / cover no-repeat;
  margin-bottom: 52px;
  width: 1440px;
  height: 799px;
}
.desktop-20 .medicines {
  overflow-wrap: break-word;
  font-family: 'Kanit';
  font-weight: 400;
  font-size: 40px;
  letter-spacing: 5.6px;
  color: #000000;
}
.desktop-20 .hover {
  background: #FFFFFF;
  margin: 0 0 39px 34px;
  display: flex;
  align-self: center;
  padding: 7px 0.2px 7px 0;
  width: 286px;
  box-sizing: border-box;
}
.desktop-20 .testimonials-from-our-users {
  margin: 0 75.8px 18px 75.8px;
  display: inline-block;
  align-self: flex-end;
  overflow-wrap: break-word;
  font-family: 'Kanit';
  font-weight: 700;
  font-size: 40px;
  letter-spacing: 5.6px;
  color: #FFFFFF;
}
.desktop-20 .privacy-policy {
  margin: 18px 18px 0 0;
  display: inline-block;
  width: 213px;
  overflow-wrap: break-word;
  font-family: 'Kanit';
  font-weight: 700;
  font-size: 24px;
  text-decoration-line: underline;
  letter-spacing: 3.4px;
  color: #FFFFFF;
}
.desktop-20 .cookies-policy {
  margin-bottom: 18px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Kanit';
  font-weight: 700;
  font-size: 24px;
  text-decoration-line: underline;
  letter-spacing: 3.4px;
  color: #FFFFFF;
}
.desktop-20 .container-2 {
  margin-bottom: 23px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-end;
  width: 821.9px;
  box-sizing: border-box;
}
.desktop-20 .follow-us {
  margin-bottom: 9px;
  display: inline-block;
  align-self:flex-start;
  overflow-wrap: break-word;
  font-family: 'Kadwa';
  font-weight: 400;
  font-size: 20px;
  color: #FFFFFF;
}
.desktop-20 .face-removebg-preview-1 {
  background: url('assets/images/face_removebg_preview_1.png') 50% / cover no-repeat;
  margin: 0 16.5px;
  align-self: flex-start;
  width: 300.8px;
  height: 83px;
  
}
.desktop-20 .container-5 {
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.desktop-20 .container {
  position: absolute;
  left: 570.6px;
  top: 82px;
  overflow-wrap: break-word;
  font-family: 'Kanit';
  font-weight: 700;
  font-size: 40px;
  letter-spacing: 5.6px;
  color: #FF0303;
  display: flex;
  flex-direction: column;
  left: 770px;
}
.desktop-20 .group-13 {
  background: #342E49;
  position: relative;
  display: flex;
  padding: 25px 212.9px 48px 0;
  width: 1440px;
  box-sizing: border-box;
  flex-direction: column;
}
.desktop-20 {
  background: #FFFFFF;
  display: flex;
  flex-direction: column;
  width: 1440px;
  box-sizing: border-box;
}
