.desktop-14 .donate {
  overflow-wrap: break-word;
  font-family: 'Kadwa';
  font-weight: 400;
  font-size: 18px;
  color: #000000;
}
.desktop-14 .frame-3 {
  margin: 6px 0 14px 0;
  display: flex;
  box-sizing: border-box;
}
.desktop-14 .home {
  margin: 6px 0 14px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Kadwa';
  font-weight: 400;
  font-size: 18px;
  color: #000000;
}
.desktop-14 .services {
  margin: 6px 0 14px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Kadwa';
  font-weight: 400;
  font-size: 18px;
  color: #000000;
}
.desktop-14 .product {
  margin: 6px 0 14px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Kadwa';
  font-weight: 400;
  font-size: 18px;
  color: #000000;
}
.desktop-14 .about-us {
  margin: 6px 0 14px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Kadwa';
  font-weight: 400;
  font-size: 18px;
  color: #000000;
}
.desktop-14 .contact-us {
  margin: 6px 0 14px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Kadwa';
  font-weight: 400;
  font-size: 18px;
  color: #000000;
}
.desktop-14 .login-removebg-preview-11 {
  background: url('assets/images/login_removebg_preview_11.png') 50% / cover no-repeat;
  width: 58px;
  height: 56px;
}
.desktop-14 .container-8 {
  background: #FFF1F1;
  position: relative;
  margin-bottom: 6px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px 85px 0 0;
  width: 1440px;
  box-sizing: border-box;
}
.desktop-14 .disease-outbreaks {
  margin-bottom: 3px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Kanit';
  font-weight: 700;
  font-size: 40px;
  letter-spacing: 5.6px;
  color: #000000;
}
.desktop-14 .medicines {
  overflow-wrap: break-word;
  font-family: 'Kanit';
  font-weight: 400;
  font-size: 24px;
  letter-spacing: 3.4px;
  color: #000000;
}
.desktop-14 .hover {
  background: #FFFFFF;
  display: flex;
  padding: 19px 0.8px 19px 0;
  width: 286px;
  box-sizing: border-box;
}
.desktop-14 .medicines-6 {
  overflow-wrap: break-word;
  font-family: 'Kanit';
  font-weight: 400;
  font-size: 24px;
  letter-spacing: 3.4px;
  color: #000000;
}
.desktop-14 .hover-6 {
  background: #FFFFFF;
  display: flex;
  padding: 19px 0.1px 19px 0;
  width: 286px;
  box-sizing: border-box;
}
.desktop-14 .container-7 {
  margin-right: 14px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 680px;
  box-sizing: border-box;
}
.desktop-14 .medicines-1 {
  overflow-wrap: break-word;
  font-family: 'Kanit';
  font-weight: 400;
  font-size: 24px;
  letter-spacing: 3.4px;
  color: #000000;
}
.desktop-14 .hover-1 {
  background: #FFFFFF;
  display: flex;
  padding: 19px 0.3px 19px 0;
  width: 286px;
  box-sizing: border-box;
}
.desktop-14 .medicines-7 {
  overflow-wrap: break-word;
  font-family: 'Kanit';
  font-weight: 400;
  font-size: 24px;
  letter-spacing: 3.4px;
  color: #000000;
}
.desktop-14 .hover-7 {
  background: #FFFFFF;
  display: flex;
  padding: 19px 0.5px 19px 0;
  width: 286px;
  box-sizing: border-box;
}
.desktop-14 .container-4 {
  margin-right: 14px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 680px;
  box-sizing: border-box;
}
.desktop-14 .medicines-2 {
  overflow-wrap: break-word;
  font-family: 'Kanit';
  font-weight: 400;
  font-size: 24px;
  letter-spacing: 3.4px;
  color: #000000;
}
.desktop-14 .hover-2 {
  background: #FFFFFF;
  display: flex;
  padding: 19px 0.2px 19px 0;
  width: 286px;
  box-sizing: border-box;
}
.desktop-14 .medicines-8 {
  overflow-wrap: break-word;
  font-family: 'Kanit';
  font-weight: 400;
  font-size: 24px;
  letter-spacing: 3.4px;
  color: #000000;
}
.desktop-14 .hover-8 {
  background: #FFFFFF;
  display: flex;
  padding: 19px 0.1px 19px 0;
  width: 286px;
  box-sizing: border-box;
}
.desktop-14 .container-11 {
  margin-right: 14px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 680px;
  box-sizing: border-box;
}
.desktop-14 .medicines-3 {
  overflow-wrap: break-word;
  font-family: 'Kanit';
  font-weight: 400;
  font-size: 24px;
  letter-spacing: 3.4px;
  color: #000000;
}
.desktop-14 .hover-3 {
  background: #FFFFFF;
  display: flex;
  padding: 19px 0.4px 19px 0;
  width: 286px;
  box-sizing: border-box;
}
.desktop-14 .medicines-9 {
  overflow-wrap: break-word;
  font-family: 'Kanit';
  font-weight: 400;
  font-size: 24px;
  letter-spacing: 3.4px;
  color: #000000;
}
.desktop-14 .hover-9 {
  background: #FFFFFF;
  display: flex;
  padding: 19px 1px 19px 0;
  width: 286px;
  box-sizing: border-box;
}
.desktop-14 .container-6 {
  margin-right: 14px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 680px;
  box-sizing: border-box;
}
.desktop-14 .medicines-4 {
  overflow-wrap: break-word;
  font-family: 'Kanit';
  font-weight: 400;
  font-size: 24px;
  letter-spacing: 3.4px;
  color: #000000;
}
.desktop-14 .hover-4 {
  background: #FFFFFF;
  display: flex;
  padding: 19px 0.5px 19px 0;
  width: 286px;
  box-sizing: border-box;
}
.desktop-14 .medicines-10 {
  overflow-wrap: break-word;
  font-family: 'Kanit';
  font-weight: 400;
  font-size: 24px;
  letter-spacing: 3.4px;
  color: #000000;
}
.desktop-14 .hover-10 {
  background: #FFFFFF;
  display: flex;
  padding: 19px 0.4px 19px 0;
  width: 286px;
  box-sizing: border-box;
}
.desktop-14 .container-2 {
  margin-right: 14px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 680px;
  box-sizing: border-box;
}
.desktop-14 .medicines-5 {
  overflow-wrap: break-word;
  font-family: 'Kanit';
  font-weight: 400;
  font-size: 24px;
  letter-spacing: 3.4px;
  color: #000000;
}
.desktop-14 .hover-5 {
  background: #FFFFFF;
  display: flex;
  padding: 19px 0.3px 19px 0;
  width: 286px;
  box-sizing: border-box;
}
.desktop-14 .medicines-11 {
  overflow-wrap: break-word;
  font-family: 'Kanit';
  font-weight: 400;
  font-size: 24px;
  letter-spacing: 3.4px;
  color: #000000;
}
.desktop-14 .hover-11 {
  background: #FFFFFF;
  display: flex;
  padding: 19px 0.4px 19px 0;
  width: 286px;
  box-sizing: border-box;
}
.desktop-14 .container-10 {
  margin-right: 14px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 680px;
  box-sizing: border-box;
}
.desktop-14 .container-23 {
  background-color: #FBF2F2;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items:center;
  padding: 40px 60px 18px 60px;
  width: 1440;
  box-sizing: border-box;
  
  
}
.desktop-14 .image-17 {
  background: url('assets/images/image_17.png')  / cover no-repeat;
  margin: 0 0 17px 40px;
  width: 448px;
  height: 410px;
  
  
}
.desktop-14 .testimonials-from-our-users {
  margin: 0 75.8px 18px 75.8px;
  display: inline-block;
  align-self: flex-end;
  overflow-wrap: break-word;
  font-family: 'Kanit';
  font-weight: 700;
  font-size: 40px;
  letter-spacing: 5.6px;
  color: #FFFFFF;
  left: 300px;
}
.desktop-14 .privacy-policy {
  margin: 18px 18px 0 0;
  display: inline-block;
  width: 213px;
  overflow-wrap: break-word;
  font-family: 'Kanit';
  font-weight: 700;
  font-size: 24px;
  text-decoration-line: underline;
  letter-spacing: 3.4px;
  color: #FFFFFF;
}
.desktop-14 .cookies-policy {
  margin-bottom: 18px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Kanit';
  font-weight: 700;
  font-size: 24px;
  text-decoration-line: underline;
  letter-spacing: 3.4px;
  color: #FFFFFF;
  left: 400px;
}
.desktop-14 .container-9 {
  margin-bottom: 23px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-end;
  width: 821.9px;
  box-sizing: border-box;
  left: 300px;
}
.desktop-14 .follow-us {
  margin-bottom: 9px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Kadwa';
  font-weight: 400;
  font-size: 20px;
  color: #FFFFFF;
}
.desktop-14 .face-removebg-preview-1 {
  background: url('assets/images/face_removebg_preview_1.png') 50% / cover no-repeat;
  margin: 0 16.5px;
  align-self: flex-start;
  width: 300.8px;
  height: 83px;
}
.desktop-14 .container-5 {
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-items: center;
}
.desktop-14 .container {
  position: absolute;
  left: 570.6px;
  top: 82px;
  overflow-wrap: break-word;
  font-family: 'Kanit';
  font-weight: 700;
  font-size: 40px;
  letter-spacing: 19.6px;
  color: #FF0303;
  background-color:  #342e49; ;
}
.desktop-14 .group-13 {
  background: #342E49;
  position: relative;
  display: flex;
  padding: 25px 212.9px 48px 0;
  width: 1450px;
  box-sizing: border-box;
  top: 580px;

}
.desktop-14 .container-3 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.desktop-14 .medicast {
  position: relative;
  overflow-wrap: break-word;
  font-family: 'Kanit';
  font-weight: 400;
  font-size: 16px;
  padding-top: 30px;
  letter-spacing: 2.2px;
  color: #000000;
}
.desktop-14 .container-1 {
  position: absolute;
  left: 17.6px;
  top: 0px;
  width: 44.3px;
  height: 36.9px;
}
.desktop-14 .logo {
  position: absolute;
  left: 19px;
  top: 6px;
  display: flex;
  height: 55.9px;
  box-sizing: border-box;
}
.desktop-14 {
  background: #FFFFFF;
  padding-bottom: 2px;
  width: 1440px;
  height: 1441px;
  box-sizing: border-box;
}
