.desktop-18 .donate {
  overflow-wrap: break-word;
  font-family: 'Kadwa';
  font-weight: 400;
  font-size: 18px;
  color: #000000;
  
}
.desktop-18 .frame-3 {
  margin: 8px 0 12px 0;
  display: flex;
  box-sizing: border-box;
  
}
.desktop-18 .home {
  margin: 8px 0 12px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Kadwa';
  font-weight: 400;
  font-size: 18px;
  color: #000000;
  bottom: 100px;
}
.desktop-18 .services {
  margin: 8px 0 12px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Kadwa';
  font-weight: 400;
  font-size: 18px;
  color: #000000;
}
.desktop-18 .product {
  margin: 8px 0 12px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Kadwa';
  font-weight: 400;
  font-size: 18px;
  color: #000000;
}
.desktop-18 .about-us {
  margin: 8px 0 12px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Kadwa';
  font-weight: 400;
  font-size: 18px;
  color: #000000;
}
.desktop-18 .contact-us {
  margin: 8px 0 12px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Kadwa';
  font-weight: 400;
  font-size: 18px;
  color: #000000;
}
.desktop-18 .login-removebg-preview-11 {
  
  width: 58px;
  height: 56px;
}
.desktop-18 .container {
  background: #fffefe;
  position: relative;
  margin-bottom: 233px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 3px 80px 2px 0px;
  width: 1440px;
  box-sizing: border-box;
  bottom: auto;

  
}
.desktop-18 .medicast {
  position: relative;
  overflow-wrap: break-word;
  font-family: 'Kanit';
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 2.2px;
  color: #000000;
}
.desktop-18 .container-3 {
  position: absolute;
  left: 17.6px;
  top: 0px;
  width: 44.3px;
  height: 36.9px;
}
.desktop-18 .logo {
  position: relative;
  margin: 0 32px;
  display: flex;
  align-self: flex-start;
  padding-top: 32px;
  box-sizing: border-box;
}
.desktop-18 .container-4 {
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.desktop-18 .rectangle-43 {
  border-radius: 90px;
  background: rgba(217, 217, 217, 0.48);
  position: absolute;
  left: 0px;
  top: 6px;
  width: 494px;
  height: 687px;
}
.desktop-18 .medicines {
  position: absolute;
  left: 50%;
  bottom: 0px;
  translate: -50% 0;
  
  font-family: 'Kanit';
  font-weight: 400;
  font-size: 40px;
  letter-spacing: 5.6px;
  color: #000000;
}
.desktop-18 .hover {
  position: relative;
  margin: 0 23.5px 15.5px 23.5px;
  align-self: flex-start;
  width: 260px;
  height: 71px;
}
.desktop-18 .line-1 {
  background: #000000;
  position: relative;
  margin: 0 23.5px 67px 23.5px;
  align-self: flex-start;
  width: 371px;
  height: 0px;
}
.desktop-18 .medicines-1 {
  
  font-family: 'Kanit';
  font-weight: 400;
  font-size: 40px;
  letter-spacing: 5.6px;
  color: #000000;
}
.desktop-18 .hover-1 {
  position: relative;
  margin: 0 79px 17px 79px;
  display: flex;
  align-self: flex-start;
  box-sizing: border-box;
}
.desktop-18 .line-2 {
  background: #000000;
  position: relative;
  margin: 0 23.5px 73px 23.5px;
  align-self: flex-start;
  width: 371px;
  height: 0px;
}
.desktop-18 .medicines-2 {
  overflow-wrap: break-word;
  font-family: 'Kanit';
  font-weight: 400;
  font-size: 40px;
  letter-spacing: 5.6px;
  color: #000000;
}
.desktop-18 .hover-2 {
  position: relative;
  margin: 0 74.5px 11px 74.5px;
  display: flex;
  align-self: flex-start;
  box-sizing: border-box;
}
.desktop-18 .line-3 {
  background: #000000;
  position: relative;
  margin: 0 23.5px 101px 23.5px;
  align-self: flex-start;
  width: 371px;
  height: 0px;
}
.desktop-18 .medicines-3 {
  position: absolute;
  left: 50%;
  bottom: 0px;
  translate: -50% 0;
  overflow-wrap: break-word;
  font-family: 'Kanit';
  font-weight: 400;
  font-size: 40px;
  letter-spacing: 5.6px;
  color: #000000;
}
.desktop-18 .hover-3 {
  position: relative;
  margin-bottom: 9px;
  align-self: flex-start;
  width: 286px;
  height: 74px;
}
.desktop-18 .line-4 {
  background: #000000;
  position: relative;
  margin: 0 1.5px;
  align-self: flex-start;
  width: 414px;
  height: 0px;
}
.desktop-18 .container-5 {
  background: url('../assets/images/image_20.png') 50% / cover no-repeat;
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  display: flex;
  flex-direction: column;
  padding: 68.5px 0 0 48.5px;
  height: 961px;
  box-sizing: border-box;
}
.desktop-18 .medicast-1 {
  position: relative;
  overflow-wrap: break-word;
  font-family: 'Kanit';
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 2.2px;
  color: hsla(0, 0%, 0%, 0);
}
.desktop-18 .container-1 {
  position: absolute;
  left: 17.6px;
  top: 0px;
  width: 44.3px;
  height: 36.9px;
}
.desktop-18 .logo-1 {
  position: absolute;
  left: 45px;
  top: 4px;
  display: flex;
  height: 55.9px;
  box-sizing: border-box;
}
.desktop-18 .group-28 {
  position: relative;
  margin-bottom: 231px;
  display: flex;
  height: 1014px;
  box-sizing: border-box;
  width: 1440px;
}
.desktop-18 .testimonials-from-our-users {
  margin: 0 75.8px 18px 75.8px;
  display: inline-block;
  align-self: flex-end;
  overflow-wrap: break-word;
  font-family: 'Kanit';
  font-weight: 700;
  font-size: 40px;
  letter-spacing: 5.6px;
  color: #FFFFFF;
}
.desktop-18 .privacy-policy {
  margin: 18px 18px 0 0;
  display: inline-block;
  width: 213px;
  overflow-wrap: break-word;
  font-family: 'Kanit';
  font-weight: 700;
  font-size: 24px;
  text-decoration-line: underline;
  letter-spacing: 3.4px;
  color: #FFFFFF;
}
.desktop-18 .cookies-policy {
  margin-bottom: 18px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Kanit';
  font-weight: 700;
  font-size: 24px;
  text-decoration-line: underline;
  letter-spacing: 3.4px;
  color: #FFFFFF;
}
.desktop-18 .container-2 {
  margin-bottom: 23px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-end;
  width: 821.9px;
  box-sizing: border-box;
}
.desktop-18 .follow-us {
  margin-bottom: 9px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Kadwa';
  font-weight: 400;
  font-size: 20px;
  color: #FFFFFF;
}
.desktop-18 .face-removebg-preview-1 {
  background: url('../assets/images/face_removebg_preview_1.png') 50% / cover no-repeat;
  margin: 0 16.5px;
  align-self: flex-start;
  width: 300.8px;
  height: 83px;
}
.desktop-18 .container-6 {
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.desktop-18 .container {
  position: absolute;
  left: 570.6px;
  top: 82px;
  overflow-wrap: break-word;
  font-family: 'Kanit';
  font-weight: 700;
  font-size: 40px;
  letter-spacing: 5.6px;
  color: #FF0303;
}
.desktop-18 .group-13 {
  background: #342E49;
  position: relative;
  display: flex;
  padding: 25px 212.9px 48px 0;
  width: 1440px;
  box-sizing: border-box;
}
.desktop-18 {
  background: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1440px;
  box-sizing: border-box;
}
