.desktop-1 .medicast-1 {
  position: relative;
  overflow-wrap: break-word;
  font-family: 'Kanit';
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 2.2px;
  color: #000000;
}
.desktop-1 .container-4 {
  position: absolute;
  left: 17.6px;
  top: 0px;
  width: 44.3px;
  height: 36.9px;
}
.desktop-1 .logo-1 {
  position: relative;
  margin: 0 122px 618px 122px;
  display: flex;
  align-self: flex-start;
  padding-top: 32px;
  box-sizing: border-box;
}
.desktop-1 .medicast {
  position: relative;
  overflow-wrap: break-word;
  font-family: 'Kanit';
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 2.2px;
  color: #000000;
}
.desktop-1 .container-7 {
  position: absolute;
  left: 17.6px;
  top: 0px;
  width: 44.3px;
  height: 36.9px;
}
.desktop-1 .logo {
  position: relative;
  margin-bottom: 1px;
  display: flex;
  padding-top: 32px;
  box-sizing: border-box;
}
.desktop-1 .donate {
  margin-right: 18px;
  width: 63px;
  overflow-wrap: break-word;
  font-family: 'Kadwa';
  font-weight: 400;
  font-size: 18px;
  color: #000000;
}
.desktop-1 .home {
  overflow-wrap: break-word;
  font-family: 'Kadwa';
  font-weight: 400;
  font-size: 18px;
  color: #000000;
}
.desktop-1 .services {
  overflow-wrap: break-word;
  font-family: 'Kadwa';
  font-weight: 400;
  font-size: 18px;
  color: #000000;
}
.desktop-1 .product {
  overflow-wrap: break-word;
  font-family: 'Kadwa';
  font-weight: 400;
  font-size: 18px;
  color: #000000;
}
.desktop-1 .about-us {
  overflow-wrap: break-word;
  font-family: 'Kadwa';
  font-weight: 400;
  font-size: 18px;
  color: #000000;
}
.desktop-1 .contact-us {
  overflow-wrap: break-word;
  font-family: 'Kadwa';
  font-weight: 400;
  font-size: 18px;
  color: #000000;
}
.desktop-1 .container-3 {
  margin: 14px 0 7px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 649.5px;
  height: fit-content;
  box-sizing: border-box;
}
.desktop-1 .chat-bot {
  margin: 14px 0 7px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Kadwa';
  font-weight: 400;
  font-size: 18px;
  color: #000000;
}
.desktop-1 .log-in-1 {
  overflow-wrap: break-word;
  font-family: 'Kadwa';
  font-weight: 400;
  font-size: 18px;
  color: #FFFFFF;
}
.desktop-1 .frame-8 {
  border-radius: 20px;
  background: #007FFF;
  margin-top: 1px;
  display: flex;
  padding: 2px 12.9px 2px 12.5px;
  box-sizing: border-box;
}
.desktop-1 .log-in {
  overflow-wrap: break-word;
  font-family: 'Kadwa';
  font-weight: 400;
  font-size: 18px;
  color: #FFFFFF;
}
.desktop-1 .frame-1 {
  border-radius: 20px;
  background: #007FFF;
  margin-bottom: 1px;
  display: flex;
  padding: 2px 0.5px 2px 0;
  width: 97px;
  height: fit-content;
  box-sizing: border-box;
}
.desktop-1 .container-8 {
  margin-top: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 249px;
  height: fit-content;
  box-sizing: border-box;
}
.desktop-1 .container-5 {
  margin: 0 123px 11px 37px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1282px;
  box-sizing: border-box;
}
.desktop-1 .request-appointment {
  margin-right: 8.8px;
  overflow-wrap: break-word;
  font-family: 'Kadwa';
  font-weight: 400;
  font-size: 18px;
  color: #FFFDFD;
}
.desktop-1 .vector-2 {
  transform: rotate(-179.748deg);
  margin: 9.8px 0px 9.8px 0;
  width: 9.9px;
  height: 16.3px;
}
.desktop-1 .frame-4 {
  border-radius: 40px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  background: rgba(152, 223, 228, 0.61);
  display: flex;
  flex-direction: row;
  padding: 10px 19px 10px 17px;
  box-sizing: border-box;
}
.desktop-1 .group-26 {
  background: url('assets/images/image_2.png') 50% / cover no-repeat;
  position: relative;
  margin: 0 2px 102px 0;
  display: flex;
  padding: 770px 496px 60px 0;
  width: 1440px;
  box-sizing: border-box;
}
.desktop-1 .welcome-to-medicast {
  margin-bottom: 23.5px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 50px;
  color: #000000;
  
}
.desktop-1 .medicast-provides-total-health-care-to-its-patients-with-the-highest-levels-of-skill-professionalism-and-ethical-practice-leading-to-their-effective-care-and-treatment-at-affordable-costs {
  overflow-wrap: break-word;
  font-family: 'Kadwa';
  font-weight: 400;
  font-size: 32px;
  color: #000000;
  width:150px;
  
  
}
 
 
.desktop-1 .image-3 {
  background: url('assets/images/image_3.png') 50% / cover no-repeat;
  padding-right: 100px;
  width: 500px;
  height: 515px;
  float: right;
  
 
}
 
.desktop-1 .own{
 padding-left: 150px;
 display:flex; 
 flex-direction: row;
  

 
}
.desktop-1 .to-be-adynamic-growth-oriented-organization-where-individuals-synergize-to-meet-the-challenges-and-to-achieve-excellence-in-all-spheres-to-be-ateaching-hospital-of-distinction-setting-the-highest-standards-in-patient-care-medical-education-training-and-research-to-provide-quality-health-care-to-the-patients-conforming-to-scientific-and-ethical-standards-to-provide-an-ideal-environment-for-medical-education-and-research-to-constantly-upgrade-the-quality-of-medical-practice-and-education-in-the-hospital {
  margin: 150px 96.6px 300px 134px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Kadwa';
  font-weight: 400;
  font-size: 18px;
  color: #000000;
}
.desktop-1 .testimonials-from-our-users {
  margin: 0 75.8px 18px 75.8px;
  display: inline-block;
  align-self: flex-end;
  overflow-wrap: break-word;
  font-family: 'Kanit';
  font-weight: 700;
  font-size: 40px;
  letter-spacing: 5.6px;
  color: #FFFFFF;
}
.desktop-1 .privacy-policy {
  margin: 18px 18px 0 0;
  display: inline-block;
  width: 213px;
  overflow-wrap: break-word;
  font-family: 'Kanit';
  font-weight: 700;
  font-size: 24px;
  text-decoration-line: underline;
  letter-spacing: 3.4px;
  color: #FFFFFF;
}
.desktop-1 .cookies-policy {
  margin-bottom: 18px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Kanit';
  font-weight: 700;
  font-size: 24px;
  text-decoration-line: underline;
  letter-spacing: 3.4px;
  color: #FFFFFF;
}
.desktop-1 .container-1 {
  margin-bottom: 23px;
  display: flex;
  margin-left:325px;
  flex-direction: row;
  justify-content: space-between;
  width: 821.9px;
  box-sizing: border-box;
}
.desktop-1 .follow-us {
  margin-bottom: 9px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Kadwa';
  font-weight: 400;
  margin-left: 325px;
  font-size: 20px;
  color: #FFFFFF;
}
.desktop-1 .face-removebg-preview-1 {
  background: url('assets/images/face_removebg_preview_1.png') 50% / cover no-repeat;
  margin: 0 16.5px;
  margin-left: 325px;
  align-self: flex-start;
  width: 300.8px;
  height: 83px;
}
.desktop-1 .container-6 {
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.desktop-1 .container {
  position: absolute;
  left: 570.6px;
  top: 82px;
  overflow-wrap: break-word;
  font-family: 'Kanit';
  font-weight: 700;
  font-size: 40px;
  letter-spacing: 5.6px;
  color: #FF0303;
}
.desktop-1 .group-13 {
  background: #342E49;
  position: relative;
  margin-right: 2px;
  display: flex;
  padding: 25px 212.9px 48px 0;
  width: 1440px;
  box-sizing: border-box;
}
.desktop-1 .container-2 {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 1442px;
  height: fit-content;
  box-sizing: border-box;
}
.desktop-1 .our-vision {
  position: absolute;
  left: 124px;
  bottom: 850px;

  
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 40px;
  color: #000000;
}
.desktop-1 {
  background: #FFFFFF;
  display: flex;
  width: 1440px;
  box-sizing: border-box;
}
