.hover .medicines {
  overflow-wrap: break-word;
  font-family: 'Kanit';
  font-weight: 700;
  font-size: 24px;
  letter-spacing: 3.4px;
  color: #000000;
}
.hover {
  background: #FFFFFF;
  display: flex;
  padding: 19px 0.4px 19px 0;
  box-sizing: border-box;
}
