.logo .medicast {
  position: relative;
  overflow-wrap: break-word;
  font-family: 'Kanit';
  font-weight: 400;
  font-size: 128px;
  letter-spacing: 17.9px;
  color: #000000;
}
.logo .container {
  position: absolute;
  left: 50%;
  top: 0px;
  translate: -50% 0;
  width: 354px;
  height: 295px;
}
.logo {
  display: flex;
  padding-top: 256px;
  box-sizing: border-box;
}
