.desktop-23 .rectangle-25 {
  background: #FFF1F1;
  position: absolute;
  left: 50%;
  top: 0px;
  translate: -50% 0;
  width: 1440px;
  height: 61px;
}
.desktop-23 .medicast {
  margin: 27px 12px 5px 0;
  display: inline-block;
  width: 80px;
  overflow-wrap: break-word;
  font-family: 'Kanit';
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 1.2px;
  color: #000000;
}
.desktop-23 .donate {
  overflow-wrap: break-word;
  font-family: 'Kadwa';
  font-weight: 400;
  font-size: 18px;
  color: #000000;
}
.desktop-23 .frame-3 {
  margin: 8px 0 12px 0;
  display: flex;
  box-sizing: border-box;
}
.desktop-23 .home {
  margin: 8px 0 12px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Kadwa';
  font-weight: 400;
  font-size: 18px;
  color: #000000;
}
.desktop-23 .services {
  margin: 8px 0 12px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Kadwa';
  font-weight: 400;
  font-size: 18px;
  color: #000000;
}
.desktop-23 .product {
  margin: 8px 0 12px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Kadwa';
  font-weight: 400;
  font-size: 18px;
  color: #000000;
}
.desktop-23 .about-us {
  margin: 8px 0 12px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Kadwa';
  font-weight: 400;
  font-size: 18px;
  color: #000000;
}
.desktop-23 .contact-us {
  margin: 8px 0 12px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Kadwa';
  font-weight: 400;
  font-size: 18px;
  color: #000000;
}
.desktop-23 .login-removebg-preview-11 {
  background: url('../assets/images/login_removebg_preview_11.png') 50% / cover no-repeat;
  width: 58px;
  height: 56px;
}
.desktop-23 .container-5 {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1363px;
  height: fit-content;
  box-sizing: border-box;
}
.desktop-23 .container-2 {
  position: absolute;
  left: 42.6px;
  top: 5px;
  width: 44.3px;
  height: 36.9px;
}
.desktop-23 .group-30 {
  position: relative;
  margin-bottom: 112px;
  display: flex;
  padding: 10px 52px 0 25px;
  width: 1440px;
  box-sizing: border-box;
}
.desktop-23 .enter-country {
  margin: 15px 15px 15px 0;
  display: inline-block;
  width: 159px;
  overflow-wrap: break-word;
  font-family: 'Kanit';
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 1.8px;
  color: #000000;
}
.desktop-23 .rectangle-32 {
  background: #FFFFFF;
  width: 557px;
  height: 60px;
}
.desktop-23 .container-1 {
  margin-bottom: 18px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 847px;
  box-sizing: border-box;
}
.desktop-23 .enter-state {
  margin: 15px 15px 15px 0;
  display: inline-block;
  width: 128px;
  overflow-wrap: break-word;
  font-family: 'Kanit';
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 1.8px;
  color: #000000;
}
.desktop-23 .rectangle-33 {
  background: #FFFFFF;
  width: 557px;
  height: 60px;
}
.desktop-23 .container-4 {
  margin-bottom: 18px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 847px;
  box-sizing: border-box;
}
.desktop-23 .enter-city {
  margin: 15px 15px 15px 0;
  display: inline-block;
  width: 106px;
  overflow-wrap: break-word;
  font-family: 'Kanit';
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 1.8px;
  color: #000000;
}
.desktop-23 .rectangle-34 {
  background: #FFFFFF;
  width: 557px;
  height: 60px;
}
.desktop-23 .container-6 {
  margin-bottom: 18px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 847px;
  box-sizing: border-box;
}
.desktop-23 .enter-name {
  margin: 15px 15px 15px 0;
  display: inline-block;
  width: 128px;
  overflow-wrap: break-word;
  font-family: 'Kanit';
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 1.8px;
  color: #000000;
}
.desktop-23 .rectangle-35 {
  background: #FFFFFF;
  width: 557px;
  height: 60px;
}
.desktop-23 .container-7 {
  margin-bottom: 18px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 847px;
  box-sizing: border-box;
}
.desktop-23 .age {
  margin: 15px 15px 15px 0;
  display: inline-block;
  width: 42px;
  overflow-wrap: break-word;
  font-family: 'Kanit';
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 1.8px;
  color: #000000;
}
.desktop-23 .rectangle-36 {
  background: #FFFFFF;
  width: 557px;
  height: 60px;
}
.desktop-23 .container-8 {
  margin-bottom: 19px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 847px;
  box-sizing: border-box;
}
.desktop-23 .health-issue {
  margin: 21px 15px 9px 0;
  display: inline-block;
  width: 141px;
  overflow-wrap: break-word;
  font-family: 'Kanit';
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 1.8px;
  color: #000000;
}
.desktop-23 .rectangle-37 {
  background: #FFFFFF;
  width: 557px;
  height: 60px;
}
.desktop-23 .container-9 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 847px;
  box-sizing: border-box;
}
.desktop-23 .group-4 {
  border-radius: 90px;
  background: #EEEEEE;
  position: relative;
  margin: 0 0 84px 55px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 68px 56px 63px 42px;
  width: 945px;
  box-sizing: border-box;
}
.desktop-23 .log-in {
  overflow-wrap: break-word;
  font-family: 'Kadwa';
  font-weight: 400;
  font-size: 30px;
  color: #FFFFFF;
  right: 200px;
}
.desktop-23 .frame-25 {
  border-radius: 20px;
  background: #007FFF;
  margin: 0 1px 762px 0;
  display: flex;
  padding: 1px 1.7px 5px 9;
  width: 97px;
  box-sizing: border-box;
}
.desktop-23 .testimonials-from-our-users {
  margin: 0 75.8px 18px 75.8px;
  display: inline-block;
  align-self: flex-end;
  overflow-wrap: break-word;
  font-family: 'Kanit';
  font-weight: 700;
  font-size: 40px;
  letter-spacing: 5.6px;
  color: #FFFFFF;
}
.desktop-23 .privacy-policy {
  margin: 18px 18px 0 0;
  display: inline-block;
  width: 213px;
  overflow-wrap: break-word;
  font-family: 'Kanit';
  font-weight: 700;
  font-size: 24px;
  text-decoration-line: underline;
  letter-spacing: 3.4px;
  color: #FFFFFF;
}
.desktop-23 .cookies-policy {
  margin-bottom: 18px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Kanit';
  font-weight: 700;
  font-size: 24px;
  text-decoration-line: underline;
  letter-spacing: 3.4px;
  color: #FFFFFF;
}
.desktop-23 .container {
  margin-bottom: 23px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-end;
  width: 821.9px;
  box-sizing: border-box;
}
.desktop-23 .follow-us {
  margin-bottom: 9px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Kadwa';
  font-weight: 400;
  font-size: 20px;
  color: #FFFFFF;
}
.desktop-23 .face-removebg-preview-1 {
  background: url('../assets/images/face_removebg_preview_1.png') 50% / cover no-repeat;
  margin: 0 16.5px;
  align-self: flex-start;
  width: 300.8px;
  height: 83px;
}
.desktop-23 .container-3 {
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.desktop-23 .container {
  position: absolute;
  left: 570.6px;
  top: 82px;
  overflow-wrap: break-word;
  font-family: 'Kanit';
  font-weight: 700;
  font-size: 40px;
  letter-spacing: 5.6px;
  color: #FF0303;
}
.desktop-23 .group-10 {
  background: #342E49;
  position: relative;
  display: flex;
  padding: 25px 212.9px 48px 0;
  width: 1440px;
  box-sizing: border-box;
}
.desktop-23 {
  background: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1440px;
  box-sizing: border-box;
}
