.desktop-11 .donate {
  overflow-wrap: break-word;
  font-family: 'Kadwa';
  font-weight: 400;
  font-size: 18px;
  color: #000000;
}
.desktop-11 .frame-3 {
  margin: 6px 0 14px 0;
  display: flex;
  box-sizing: border-box;
}
.desktop-11 .home {
  margin: 6px 0 14px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Kadwa';
  font-weight: 400;
  font-size: 18px;
  color: #000000;
}
.desktop-11 .services {
  margin: 6px 0 14px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Kadwa';
  font-weight: 400;
  font-size: 18px;
  color: #000000;
}
.desktop-11 .product {
  margin: 6px 0 14px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Kadwa';
  font-weight: 400;
  font-size: 18px;
  color: #000000;
}
.desktop-11 .about-us {
  margin: 6px 0 14px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Kadwa';
  font-weight: 400;
  font-size: 18px;
  color: #000000;
}
.desktop-11 .contact-us {
  margin: 6px 0 14px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Kadwa';
  font-weight: 400;
  font-size: 18px;
  color: #000000;
}
.desktop-11 .login-removebg-preview-11 {
  background: url('../assets/images/login_removebg_preview_11.png') 50% / cover no-repeat;
  width: 58px;
  height: 56px;
}
.desktop-11 .container-4 {
  background: #FFF1F1;
  position: relative;
  margin: 0 0 16px 4px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px 85px 0 0;
  width: 1440px;
  box-sizing: border-box;
}
.desktop-11 .unnamed-removebg-preview-1 {
  background: url('../assets/images/unnamed_removebg_preview_1.png') 50% / cover no-repeat;
  margin-right: 9px;
  width: 298px;
  height: 246px;
}
.desktop-11 .so-it-is-recommended-to-meet-the-doctor {
  margin: 79px 0 107px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 40px;
  letter-spacing: 5.6px;
  color: #000000;
}
.desktop-11 .container {
  margin: 0 38.8px 30px 52px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.desktop-11 .personal-recommendation {
  margin: 0 85px 30px 85px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 32px;
  letter-spacing: 4.5px;
  color: #000000;
}
.desktop-11 .so-you-have-dengue-fever-and-diabetes-so-you-are-asked-to-take {
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 32px;
  letter-spacing: 4.5px;
  color: #000000;
}
.desktop-11 .group-9 {
  background: #EEEEEE;
  position: relative;
  margin: 66px 17px 157px 0;
  display: flex;
  padding: 30px 51.4px 27px 10px;
  box-sizing: border-box;
}
.desktop-11 .why-should-we-consult-adoctor {
  margin: 0 85px 39px 85px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 32px;
  letter-spacing: 4.5px;
  color: #000000;
}
.desktop-11 .seeing-your-doctor-on-aregular-basis-helps-you-maintain-arelationship-with-your-doctors-practice-so-that-your-doctor-is-aware-of-changes-in-your-health-and-can-address-them-quickly-with-changes-in-medication-or-helping-you-find-aspecialist-2 {
  margin: 0 140.7px 63px 140.7px;
  display: inline-block;
  align-self: flex-end;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 32px;
  letter-spacing: 4.5px;
  color: #000000;
}
.desktop-11 .enter-questions {
  margin: 24px 42.8px 16px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 24px;
  letter-spacing: 3.4px;
  color: #000000;
}
.desktop-11 .rectangle-37 {
  background: #FFFFFF;
  width: 751px;
  height: 76px;
}
.desktop-11 .container-6 {
  margin-bottom: 48px;
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}
.desktop-11 .log-in {
  overflow-wrap: break-word;
  font-family: 'Kadwa';
  font-weight: 400;
  font-size: 18px;
  color: #FFFFFF;
}
.desktop-11 .frame-1 {
  border-radius: 20px;
  background: #007FFF;
  margin-left: 86px;
  display: flex;
  align-self: center;
  padding: 2px 16.7px 2px 16.5px;
  box-sizing: border-box;
}
.desktop-11 .group-17 {
  border-radius: 90px;
  background: #EEEEEE;
  position: relative;
  margin: 0 116px 47px 99px;
  display: flex;
  flex-direction: column;
  padding: 33px 0 48px 46px;
  width: fit-content;
  box-sizing: border-box;
}
.desktop-11 .if-you-never-see-adoctor-you-cant-ever-have-arelationship-with-one-on-the-other-hand-having-aregular-physician-means-having-someone-who-knows-the-intricacies-of-your-medical-history-and-who-will-work-with-you-to-shape-your-healthy-present-and-future-many-people-iknow-have-had-abad-experience-with-hospitals-or-doctors-and-now-avoid-institutions-of-health-at-all-costsincluding-their-own-health-but-while-not-every-doctor-is-going-to-be-the-right-one-for-you-you-owe-it-to-yourself-to-keep-looking-until-you-find-apractitioner-that-you-like-and-trust {
  margin: 0 49.2px 45px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 32px;
  letter-spacing: 4.5px;
  color: #000000;
}
.desktop-11 .answers {
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 24px;
  letter-spacing: 3.4px;
  color: #000000;
}
.desktop-11 .answers-1 {
  margin: 38px 0 2px 0;
  display: flex;
  box-sizing: border-box;
}
.desktop-11 .rectangle-39 {
  background: #FFFFFF;
  width: 751px;
  height: 76px;
}
.desktop-11 .group-11 {
  border-radius: 90px;
  background: #EEEEEE;
  position: relative;
  margin: 0 118px 44px 120px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 40px 104px 154px 80px;
  width: 1206px;
  box-sizing: border-box;
}
.desktop-11 .reasons-to-consult-adoctor-include {
 
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 24px;
  letter-spacing: 1.4px;
  color: #000000;
  right: 200px;
  
}
.desktop-11 .medicines-1 {
  position: absolute;
  left: -149px;
  bottom: 8px;
  
  font-family: 'Kanit';
  font-weight: 400;
  font-size: 64px;
  letter-spacing: 9px;
  color: #000000;
}
.desktop-11 .hover-1 {
  background: #FFFFFF;
  position: relative;
  margin: 0 69px 103px 0;
  width: 351px;
  height: 112px;
  bottom: 100px;
  top: 100px;
}
.desktop-11 .testimonials-from-our-users {
  margin: 0 75.8px 18px 75.8px;
  display: inline-block;
  align-self: flex-end;
  overflow-wrap: break-word;
  font-family: 'Kanit';
  font-weight: 700;
  font-size: 40px;
  letter-spacing: 5.6px;
  color: #FFFFFF;
  right: 50px;
  left: 200px;
}
.desktop-11 .privacy-policy {
  margin: 18px 18px 0 0;
  display: inline-block;
  width: 213px;
  overflow-wrap: break-word;
  font-family: 'Kanit';
  font-weight: 700;
  font-size: 24px;
  text-decoration-line: underline;
  letter-spacing: 3.4px;
  color: #FFFFFF;
}
.desktop-11 .cookies-policy {
  margin-bottom: 18px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Kanit';
  font-weight: 700;
  font-size: 24px;
  text-decoration-line: underline;
  letter-spacing: 3.4px;
  color: #FFFFFF;
}
.desktop-11 .container-1 {
  margin-bottom: 23px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-end;
  width: 821.9px;
  box-sizing: border-box;
}
.desktop-11 .follow-us {
  margin-bottom: 9px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Kadwa';
  font-weight: 400;
  font-size: 20px;
  color: #FFFFFF;
}
.desktop-11 .face-removebg-preview-1 {
  background: url('../assets/images/face_removebg_preview_1.png') 50% / cover no-repeat;
  margin: 0 16.5px;
  align-self: flex-start;
  width: 300.8px;
  height: 83px;
}
.desktop-11 .container-2 {
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  right: 50px;
  left: 200px;
}

.desktop-11 .container {
  position: absolute;
  left: 570.6px;
  top: 82px;
  overflow-wrap: break-word;
  font-family: 'Kanit';
  font-weight: 700;
  font-size: 40px;
  letter-spacing: 5.6px;
  color: #FF0303;
}
.desktop-11 .group-10 {
  background: #342E49;
  position: relative;
  margin-right: 20px;
  display: flex;
  padding: 25px 212.9px 48px 0;
  width: 1440px;
  box-sizing: border-box;
}
.desktop-11 .container-3 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1444px;
  height: fit-content;
  box-sizing: border-box;
}
.desktop-11 .medicast {
  position: relative;
  overflow-wrap: break-word;
  font-family: 'Kanit';
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 2.2px;
  padding-top: 35px;
  color: #000000;
}
.desktop-11 .container-5 {
  position: absolute;
  left: 17.6px;
  top: 0px;
  width: 44.3px;
  height: 36.9px;
}
.desktop-11 .logo {
  position: absolute;
  left: 16px;
  top: 7px;
  display: flex;
  height: 55.9px;
  box-sizing: border-box;
}
.desktop-11 .medicines {
  overflow-wrap: break-word;
  font-family: 'Kanit';
  font-weight: 400;
  font-size: 24px;
  letter-spacing: 3.4px;
  color: #000000;
}
.desktop-11 .hover {
  background: transparent;
  position: absolute;
  left: 505px;
  top: 584px;
  display: flex;
  padding: 63px 0.2px 63px 0;
  width: 369px;
  box-sizing: border-box;
  right: 150px;
  left: 500px;
  bottom: 200px;
  top: 325px;
}
.desktop-11 {
  background: #FFFFFF;
  display: flex;
  padding-bottom: 5px;
  width: 1440px;
  box-sizing: border-box;
}
