.desktop-13 .medicast-1 {
  position: relative;
  overflow-wrap: break-word;
  font-family: 'Kanit';
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 2.2px;
  padding-top: -40px;
  padding-right: 35PX;
  color: #000000;
}
.desktop-13 .container {
  position: absolute;
  left: 17.6px;
  top: 0px;
  width: 44.3px;
  height: 36.9px;
  bottom: 500px;
}
.desktop-13 .logo-1 {
  position: relative;
  margin-right: 51.5px;
  display: flex;
  padding-top: 32px;
  box-sizing: border-box;
  
}
.desktop-13 .disease-outbreaks {
  overflow-wrap: break-word;
  font-family: 'Kadwa';
  font-weight: 400;
  font-size: 18px;
 
  color: #000000;
  
}
.desktop-13 .frame-3 {
  margin: 12px 0 8px 0;
  display: flex;
  box-sizing: border-box;
  
}
.desktop-13 .container-6 {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.desktop-13 .resource-available {
  margin: 12px 0 8px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Kadwa';
  font-weight: 400;
  font-size: 18px;
  color: #000000;
}
.desktop-13 .schedule {
  margin: 12px 0 8px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Kadwa';
  font-weight: 400;
  font-size: 18px;
  color: #000000;
}
.desktop-13 .product {
  margin: 12px 0 8px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Kadwa';
  font-weight: 400;
  font-size: 18px;
  color: #000000;
}
.desktop-13 .about-us {
  margin: 12px 0 8px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Kadwa';
  font-weight: 400;
  font-size: 18px;
  color: #000000;
}
.desktop-13 .contact-us {
  margin: 12px 0 8px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Kadwa';
  font-weight: 400;
  font-size: 18px;
  color: #000000;
}
.desktop-13 .login-removebg-preview-11 {
  background: url('../assets/images/login_removebg_preview_11.png') 50% / cover no-repeat;
  width: 58px;
  height: 56px;
}
.desktop-13 .container-4 {
  background: #FFF1F1;
  position: relative;
  margin-bottom: 2px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 3px 79px 2px 18px;
  width: 1525px;
  box-sizing: border-box;
}
.desktop-13 .image-16 {
  background: url('../assets/images/image_16.png') 50% / cover no-repeat;
  margin-bottom: 87px;
  width: 1525px;
  height: 451px;
}
.desktop-13 .medicast {
  position: relative;
  overflow-wrap: break-word;
  font-family: 'Kanit';
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 2.2px;
  color: #000000;
}
.desktop-13 .container-3 {
  position:absolute;
  left: 17.6px;
  top: 0px;
  width: 44.3px;
  height: 36.9px;
  bottom: 100px;

}
.desktop-13 .logo {
  position: relative;
  margin: 0 26px;
  display: flex;
  align-self: flex-start;
  padding-top: 32px;
  box-sizing: border-box;
  bottom: 600px;
  right: 20px;
}
.desktop-13 .group-14 {
  margin-bottom: 473px;
  display: flex;
  flex-direction: column;
  width: fit-content;
  box-sizing: border-box;
}
.desktop-13 .performance-of-user {
  margin: 0 774.9px 11px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Kadwa';
  font-weight: 700;
  font-size: 32px;
  color: #000000;
}
.desktop-13 .no-of-patients-attended-167-no-of-taken-leave-12-night-shifts-50-morning-shifts-84-emergency-cases-23 {
  margin: 0 107.9px 46px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Kadwa';
  font-weight: 700;
  font-size: 32px;
  color: #000000;
}
.desktop-13 .overall-rating {
  margin-right: 13.1px;
  overflow-wrap: break-word;
  font-family: 'Kadwa';
  font-weight: 700;
  font-size: 32px;
  color: #000000;
}
.desktop-13 .container {
  margin-right: 30px;
  width: 233.6px;
  overflow-wrap: break-word;
  font-family: 'Kanit';
  font-weight: 700;
  font-size: 40px;
  letter-spacing: 5.6px;
  color: #FF0303;
  top: 1580px;
  left: 450px;
}
.desktop-13 .container-1 {
  border: 1px solid #000000;
  overflow-wrap: break-word;
  font-family: 'Kanit';
  font-weight: 700;
  font-size: 40px;
  letter-spacing: 5.6px;
  color: #fe0303;
  
}
.desktop-13 .group-15 {
  margin: 3px 0 1px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 407.6px;
  height: fit-content;
  box-sizing: border-box;
}
.desktop-13 .group-16 {
  margin: 0 638px 213px 0;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
  
}
.desktop-13 .testimonials-from-our-users {
  margin: 0 75.8px 18px 75.8px;
  display: inline-block;
  align-self: flex-end;
  overflow-wrap: break-word;
  font-family: 'Kanit';
  font-weight: 700;
  font-size: 40px;
  letter-spacing: 5.6px;
  color: #FFFFFF;
}
.desktop-13 .privacy-policy {
  margin: 18px 18px 0 0;
  display: inline-block;
  width: 213px;
  overflow-wrap: break-word;
  font-family: 'Kanit';
  font-weight: 700;
  font-size: 24px;
  text-decoration-line: underline;
  letter-spacing: 3.4px;
  color: #FFFFFF;
}
.desktop-13 .cookies-policy {
  margin-bottom: 18px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Kanit';
  font-weight: 700;
  font-size: 24px;
  text-decoration-line: underline;
  letter-spacing: 3.4px;
  color: #FFFFFF;
}
.desktop-13 .container-5 {
  margin-bottom: 23px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-end;
  width: 821.9px;
  box-sizing: border-box;
}
.desktop-13 .follow-us {
  margin-bottom: 9px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Kadwa';
  font-weight: 400;
  font-size: 20px;
  color: #ffffff;
  left:s200px;
}
.desktop-13 .face-removebg-preview-1 {
  background: url('../assets/images/face_removebg_preview_1.png') 50% / cover no-repeat;
  margin: 0 16.5px;
  align-self: flex-start;
  width: 300.8px;
  height: 83px;
}
.desktop-13 .container-7 {
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  left: 200px;
}
.desktop-13 .container-2 {
  position: absolute;
  left: 570px;
                                                              
  
  font-family: 'Kanit';
  font-weight: 700;
  font-size: 40px;
  letter-spacing: 5.6px;
  color: #FF0303;
  
  
}
.desktop-13 .group-13 {
  background: #342E49;
  position: relative;
  display: flex;
  padding: 25px 212.9px 48px 0;
  width: 1500px;
  box-sizing: border-box;
  right: 30px;
}
.desktop-13 .container-1 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.desktop-13 .achievements {
  margin-bottom: 30px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Kadwa';
  font-weight: 700;
  font-size: 32px;
  color: #000000;
}
.desktop-13 .attended-a-50-emergency-cases-and-more-critical-cases {
  margin: 0 191.6px 29px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Kadwa';
  font-weight: 700;
  font-size: 32px;
  color: #000000;
}
.desktop-13 .helpful-for-more-cases-to-protect-their-life {
  margin: 0 390.8px 44px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Kadwa';
  font-weight: 700;
  font-size: 32px;
  color: #000000;
}
.desktop-13 .in-emergency-working-for-24-hours-thats-proud-of-you-to-say-that-aword-nurse {
  align-self: flex-end;
  overflow-wrap: break-word;
  font-family: 'Kadwa';
  font-weight: 700;
  font-size: 32px;
  color: #000000;
}
.desktop-13 .container-2 {
  background: hsla(0, 13%, 95%, 0);
  position: absolute;
  left: 0px;
  top: 532px;
  right: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 31px 49.5px 66px 58px;
  box-sizing: border-box;
}
.desktop-13 {
  background: #D5C3DD;
  display: flex;
  width: 1500px;
  box-sizing: border-box;
}
