.frame-12 .rectangle-21 {
  border-radius: 20px;
  background: #D9D9D9;
  position: absolute;
  left: 96px;
  top: 56px;
  width: 453px;
  height: 65px;
}
.frame-12 .rectangle-22 {
  border-radius: 20px;
  background: #D9D9D9;
  position: absolute;
  left: 96px;
  bottom: 21px;
  width: 453px;
  height: 65px;
}
.frame-12 .rectangle-23 {
  border-radius: 20px;
  background: #D9D9D9;
  position: absolute;
  left: 96px;
  bottom: 151px;
  width: 453px;
  height: 65px;
}
.frame-12 .patient-login {
  margin: 0 0.1px 57px 0.1px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Kadwa';
  font-weight: 400;
  font-size: 40px;
  letter-spacing: 5.6px;
  color: #000000;
}
.frame-12 .doctor-login {
  margin: 0 19.5px 48px 36px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Kadwa';
  font-weight: 400;
  font-size: 40px;
  letter-spacing: 5.6px;
  color: #000000;
}
.frame-12 .institute-login {
  overflow-wrap: break-word;
  font-family: 'Kadwa';
  font-weight: 400;
  font-size: 40px;
  letter-spacing: 5.6px;
  color: #000000;
}
.frame-12 .container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  box-sizing: border-box;
}
.frame-12 {
  border-radius: 40px;
  background: rgba(0, 127, 255, 0.8);
  display: flex;
  padding: 53px 30.8px 8px 0;
  box-sizing: border-box;
}
