.property-1-variant-22 .log-in {
  overflow-wrap: break-word;
  font-family: 'Kadwa';
  font-weight: 400;
  font-size: 18px;
  color: #007FFF;
}
.property-1-variant-2 {
  border-radius: 20px;
  background: #FFFFFF;
  display: flex;
  padding: 2px 0.5px 2px 0;
  box-sizing: border-box;
}
