.property-1-variant-21 .rectangle-29 {
  background: #FFFFFF;
  position: absolute;
  left: 1px;
  right: 0px;
  bottom: 0px;
  height: 89px;
}
.property-1-variant-21 .you-have-affected-by-dengue-virus-dont-worry-medicast-had-treatment-to-cure {
  position: relative;
  overflow-wrap: break-word;
  font-family: 'Kadwa';
  font-weight: 400;
  font-size: 40px;
  color: #000000;
}
.property-1-variant-2 {
  display: flex;
  padding: 4px 104.3px 5px 0;
  width: 1386px;
  box-sizing: border-box;
}
