.property-1-default-1 .rectangle-29 {
  background: #FFFDFD;
  position: absolute;
  left: 50%;
  top: 0px;
  translate: -50% 0;
  width: 1625px;
  height: 89px;
}
.property-1-default-1 .you-have-affected-by-dengue-virus-dont-worry-our-company-had-treatment-to-cure {
  position: relative;
  overflow-wrap: break-word;
  font-family: 'Kadwa';
  font-weight: 400;
  font-size: 40px;
  color: #000000;
}
.property-1-default {
  display: flex;
  padding: 4px 106.2px 0 10px;
  width: 692px;
  box-sizing: border-box;
}
